.Img {
	width: 100vw;
	height: 100vh;
	margin: 63px auto 0 auto;
}

.Img1 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.family {
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	font-size: 60px;
	font-weight: 600;
	color: #fff;
	z-index: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.About-title {
	font-style: normal;
	font-weight: 700;
	font-size: 2.8vw;
	line-height: 55px;
	margin-left: auto;
	color: #d8a466;
	width: 82%;
	margin-bottom: 20px;
}
.Linktop {
	width: 70%;
	max-width: 1440px;
	margin: auto;
	border: 2px solid #d8a466;
	border-radius: 10px;
	background-color: #d8a466;
}

.Card1 {
	margin: 0px auto;
	margin-top: 48px;
	width: 60%;
	height: 240px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;
	text-align: center;
	background: #fff;
	border-radius: 0.99rem;
}

.Teammate1 {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 0.99rem 0 0 0.99rem;
}

.Coner1{
	overflow: hidden;
	position: absolute;
	left: 770px;
	top: 31px;
	height: 100%;
	
}

div > .Card1front {
	background-color: #fff;
}

div > .Card1back {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.Card1 > .Card1front,
.Card1 > .Card1back {
	height: 224px;
	width: 100%;
	color: #641568;
	text-align: center;
	/* padding: 20px; */
	display: block;
	border-radius: 0.99rem;
	box-shadow: 4px 4px 24px 0 rgba(46, 61, 73, 0.2);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.Card1 > .Card1front {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.Card1 > .Card1back {
	opacity: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.Card1:hover > .Card1front {
	opacity: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.Card1:hover > .Card1back {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.Title1 {
	font-size: 2.4rem;
	font-weight: 600;
	color: #1f3151;
	
}

.Word1 {
	margin-left: 600px;
}
.Linefront1 {
	width: 8vw;
	height: 1px;
	border-top: solid #1f3151 2px;
	margin: 0px auto;
	margin-top: 11px;
	margin-bottom: 6px;
	
}

.List1 li {
	font-size: 1.1rem;
	font-weight: 200;
	text-align: center;
	color: #1f3151;
}

.Word1back {
	// margin-right: 500px;
	margin-top: 24px;
	padding-left: 40px;
	text-align: left;
	font-size: 120%;
	color: #586786;
}

.Line1back {
	width: 49vw;
	height: 1px;
	border-top: solid #586786 2px;
	margin: 0px auto;
	margin-top: 15px;
	margin-left: 40px;
}

.Teammate1back {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 0 0.99rem 0.99rem 0;
}












.Card2 {
	margin: 0px auto;
	margin-top: 48px;
	width: 60%;
	height: 240px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;
	text-align: center;
	background: #fff;
	border-radius: 0.99rem;
}

.Teammate2 {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 0 0.99rem 0.99rem 0;
}

div > .Card2front {
	background-color: #fff;
}

div > .Card2back {
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
}

.Card2 > .Card2front,
.Card2 > .Card2back {
	height: 224px;
	width: 100%;
	color: #641568;
	text-align: center;
	/* padding: 20px; */
	display: block;
	border-radius: 0.99rem;
	box-shadow: -4px 4px 24px 0 rgba(46, 61, 73, 0.2);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.Card2 > .Card2front {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.Card2 > .Card2back {
	opacity: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.Card2:hover > .Card2front {
	opacity: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.Card2:hover > .Card2back {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.Title2 {
	font-size: 2.4rem;
	font-weight: 600;
	color: #1f3151;
}

.Word2 {
	margin-left: -600px;
}

.Teammate2back {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 0.99rem 0 0 0.99rem;
}


.Word2back {
	text-align: right;
	margin-top: 24px;
	padding-right: 40px;
	font-size: 120%;
	color: #586786;
}

.List2 li {
	font-size: 1.1rem;
	font-weight: 200;
	text-align: center;
	color: #1f3151;
}

.Linefront2 {
	width: 8vw;
	height: 1px;
	border-top: solid #1f3151 2px;
	margin: 0px auto;
	margin-top: 11px;
	margin-bottom: 6px;
	
}

.Coner2{
	overflow: hidden;
	position: absolute;
	right: 770px;
	top: 31px;
	height: 100%;
}

.Line2back {
	width: 49vw;
	height: 1px;
	border-top: solid #586786 2px;
	margin: 0px auto;
	margin-top: 15px;
	margin-right: 40px;
}