:root {
  --NavBar-height: 7vw;
}
.HomePageBox {
  // banner容器(含圖文)
  .bannerBox {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    height: 97vh;
    width: 100vw;
    max-height: 1000px;
    filter: drop-shadow(0px 15px 50px rgba(171, 139, 121, 100%));
    z-index: 1;
    overflow: hidden;
    // banner圖片容器
    .bannerPolygonBox {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      .bannerPolygonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-height: calc(200px + 20vw);
        overflow: hidden;
        clip-path: polygon(-20% 0%, 100% -20%, 100% 85%, 50% 100%, 0% 85%);
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          background: linear-gradient(
            rgba(255, 255, 255, 0.7) 10%,
            rgba(255, 255, 255, 0.5) 25%,
            rgba(255, 255, 255, 0) 50%
          );
          z-index: 3;
          width: 100%;
          height: 100%;
        }
        .bannerPicture {
          position: relative;
          min-height: 100%;
          min-width: 150%;
          // max-height: 1000px;
        }
      }
    }
    // banner文字容器
    .bannerSloganBox {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      // max-height: 100vh;
      .bannerSloganWrapper {
        text-align: center;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));
        .bannerSloganTextA {
          margin-top: calc(var(--NavBar-height) + 5vw);
          h1 {
            color: white;
            font-size: calc(1.5rem + 1vw);
            font-weight: 700;
            line-height: 1.3;
            margin: 0;
            span {
              color: #ffc177;
            }
          }
        }
        .bannerSloganTextB {
          margin-top: calc(1.25rem + 1.5vw);
          margin-bottom: calc(1.5rem + 2vw);
          p {
            color: #d9d9d9;
            font-size: calc(1rem + 0.5vw);
            margin: 0;
          }
        }
      }
    }

    .bannerScrollDownArrowBox {
      position: absolute;
      bottom: 5%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 50vw;
      width: 100vw;
      max-height: 85vh;
      .bannerScrollDownWrapper {
        text-align: center;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));
        .bannerScrollDownText {
          color: white;
          font-size: calc(1.25rem + 0.5vw);
          font-weight: 700;
          line-height: 1.3;
          margin: 0;
        }
        .bannerScrollDownIcon {
          color: white;
          transform: scale(3);
          margin-top: 1vw;
          path {
            cursor: pointer;
          }
        }
      }
    }
  }

  .platformIntroduction {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    width: 100vw;
    height: 80vw;
    margin-top: -15vw;
    background: linear-gradient(
      170deg,
      #ffffff 0%,
      rgba(225, 177, 120, 0.15) 17%,
      rgba(225, 177, 120, 0.35) 28%,
      rgba(225, 177, 120, 0.5) 36%,
      rgba(225, 177, 120, 0.8) 51%,
      #e1b178 70%,
      #e4a65a 76%,
      #dd9b49 78%
    );
    // 斜率16vw
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

    .cuttingBoardWrapper {
      position: absolute;
      top: 7%;
      left: -10%;
      width: 50vw;
      .cuttingBoard {
        width: 100%;
      }
    }
    .circleWrapperA {
      position: absolute;
      top: 0;
      right: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .circleOrange {
        position: absolute;
        top: -30%;
        right: -30%;
        height: 100%;
        width: 100%;
      }
    }
    .circleWrapperB {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .circleWhite {
        position: absolute;
        bottom: -60%;
        left: -30%;
        opacity: 0.5;
        height: 100%;
        width: 100%;
      }
    }

    // 平台特色內容圖文BOX (不含背景)
    .platformIntroductionBox {
      position: absolute;
      top: 35%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80vw;
      margin-top: -23vw;
      // 平台特色內容圖文Wrapper
      .platformIntroductionWrapper {
        text-align: center;
        width: 70vw;
        // 平台特色大標題
        .platformIntroductionHeading {
          h1 {
            color: #1f4557;
            font-size: calc(1.5rem + 1vw);
            font-weight: 700;
            line-height: 1.3;
            margin: 0;
            z-index: 5;
          }
          .HeadingUnderline {
            width: calc(12.5rem + 8vw);
          }
        }
        // 平台特色三圖文Wrapper
        .platformIntroductionContentWrapper {
          margin-top: calc(1rem + 2vw);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .platformIntroductionContent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3 {
              color: #1f4557;
              font-size: calc(0.5rem + 1vw);
              font-weight: 700;
              padding-bottom: 1vw;
            }
            .platformIntroductionPictureWrapper {
              height: 14vw;
              width: 21vw;
              // 防暴版背景色
              background: #ccc;
              border-radius: 1vw;
              overflow: hidden;
              .platformIntroductionPicture {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
        .platformIntroductionButtonWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .platformIntroductionButton {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(2.5rem + 1.25vw);
            width: calc(6rem + 5vw);
            margin-top: 3vw;
            background: #ffffff;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
            border-radius: 5vw;
            cursor: pointer;
            p {
              font-size: calc(1rem + 0.5vw);
              font-weight: 700;
              color: #d8a466;
              margin: 0;
            }
            &:hover {
              p {
                color: #f7c485;
              }
            }
          }
        }
      }
    }
  }

  // 主廚介紹 (含背景)
  .chefIntroduction {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    width: 100vw;
    height: 80vw;
    // height: 64vw;
    margin-top: -20vw;
    background: white;
    z-index: 5;
    // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));

    // 斜率16vw
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    // clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);

    // 飾條
    .chefIntroductionTrim {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #d8a466;
      // 斜率16vw
      clip-path: polygon(
        0% 22%,
        100% 2%,
        100% 2.5%,
        0% 22.5%,
        0% 97.5%,
        100% 77.5%,
        100% 78%,
        0% 98%
      );
    }
    .circleWrapperA {
      position: absolute;
      top: 0;
      left: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .circleOrange {
        position: absolute;
        top: 0%;
        left: -30%;
        height: 100%;
        width: 100%;
      }
    }
    .circleWrapperB {
      position: absolute;
      top: 20%;
      right: 5%;
      height: 30vw;
      width: 30vw;
      overflow: hidden;
      .circleOrange {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        height: 100%;
        width: 100%;
      }
    }
    .chefIntroductionBox {
      position: absolute;
      top: 0%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      overflow: hidden;
      // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));
      .chefIntroductionWrapper {
        text-align: center;
        overflow: hidden;
        .chefIntroductionHeading {
          margin-top: 15vw;
          z-index: 5;
          height: 100%;
          width: 100%;
          overflow: hidden;
          h1 {
            color: #1f4557;
            font-size: calc(1.5rem + 1vw);
            font-weight: 700;
            line-height: 1.3;
            margin: 0;
            z-index: 5;
          }
          .HeadingUnderline {
            width: calc(9.25rem + 6vw);
          }
        }

        // ian
        // .chefIntroductionContentWrapper {
        //   margin-top: calc(0.25rem + 2vw);
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   height: 100%;
        //   width: 100%;
        //   // overflow: hidden;
        //   .chefIntroductionContent {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 0 3vw;
        //     z-index: 6;
        //   }
        // }
      }
    }
  }

  // 會員分享圖文 (含背景)
  .ShareCardBox {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    width: 100vw;
    height: 80vw;
    margin-top: -20vw;
    // 斜率16vw
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 2;
    // 防暴版背景色
    background: #ccc;
    // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));
    .Background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .BackgroundTexture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        transform: rotateX(180deg);
        // transform: rotateY(180deg);
      }
    }
    .circleWrapperA {
      position: absolute;
      top: 12%;
      left: 0;
      height: 35vw;
      width: 35vw;
      overflow: hidden;
      .circleWhite {
        position: absolute;
        top: 0%;
        left: -30%;
        height: 100%;
        width: 100%;
        z-index: 4;
      }
    }
    .imageA {
      position: absolute;
      top: 39%;
      right: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .plate {
        position: absolute;
        top: 0%;
        right: -40%;
        height: 100%;
        width: 100%;
        z-index: 4;
      }
    }
    .imageB {
      position: absolute;
      top: 70%;
      left: 0;
      height: 28vw;
      width: 45vw;
      overflow: hidden;
      .noodle {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 4;
      }
    }
    // 會員分享圖文內容 (不含背景)
    .ShareCardContainer {
      position: absolute;
      top: 7%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80vw;
      z-index: 5;
      // margin-top: -20vw;
      .ShareCardWrapper {
        text-align: center;
        width: 70vw;
        max-width: calc(900px + 10vw);
        .ShareCardHeading {
          h1 {
            color: #1f4557;
            font-size: calc(1.5rem + 1vw);
            font-weight: 700;
            line-height: 1.3;
            margin: 0;
            z-index: 5;
          }
          .HeadingUnderline {
            width: calc(10.5rem + 7vw);
          }
        }
        .ShareCardContentWrapper {
          margin-top: calc(1rem + 2.5vw);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ShareCardContent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
        .moreShareButtonWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .moreShareButton {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(2.5rem + 1.25vw);
            width: calc(6rem + 5vw);
            margin-top: 3vw;
            background: #ffffff;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
            border-radius: 5vw;
            cursor: pointer;
            p {
              font-size: calc(1rem + 0.5vw);
              font-weight: 700;
              color: #d8a466;
              margin: 0;
            }
            &:hover {
              p {
                color: #f7c485;
              }
            }
          }
        }
      }
    }
  }

  .RecommandCourseCardBox {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    height: 80vw;
    width: 100vw;
    min-height: 1550px;
    // margin-top: -20vw;
    background: white;
    // 斜率16vw
    // clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    overflow: hidden;
    .Background {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      .BackgroundTexture {
        width: 100%;
      }
      .BackgroundTextureA {
        z-index: 2;
      }
      .BackgroundTextureB {
        top: -40vw;
        transform: rotateX(180deg);
        z-index: 1;
      }
    }
    .imageA {
      position: absolute;
      top: -61%;
      right: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .plate {
        position: absolute;
        top: 0;
        right: -40%;
        height: 100%;
        width: 100%;
        z-index: 3;
      }
    }
    .imageB {
      position: absolute;
      top: 23%;
      right: -5%;
      height: 60vw;
      width: 36vw;
      overflow: hidden;
      .pan {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
      }
    }
    .imageC {
      position: absolute;
      bottom: -2%;
      left: 0;
      height: 24vw;
      width: 18vw;
      overflow: hidden;
      .cooking {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
      }
    }
    .RecommandCourseCardContentWrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      .RecommandCourseCardSliderWrapper {
        top: calc(100px + 0.5vw);
        width: 70%;
      }
    }
  }

  // 主廚介紹 (含背景)
  .CourseCategory {
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    width: 100vw;
    height: 80vw;
    // height: 64vw;
    margin-top: -20vw;
    background: #d8a466;
    z-index: 5;
    // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));

    // 斜率16vw
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    // clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);

    // 飾條
    .CourseCategory-Trim {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      // 斜率16vw
      clip-path: polygon(
        0% 22%,
        100% 2%,
        100% 2.5%,
        0% 22.5%,
        0% 97.5%,
        100% 77.5%,
        100% 78%,
        0% 98%
      );
    }
    .circleWrapperA {
      position: absolute;
      top: 0;
      left: 0;
      height: 50vw;
      width: 50vw;
      overflow: hidden;
      .circleWhite {
        position: absolute;
        top: 0%;
        left: -30%;
        height: 100%;
        width: 100%;
      }
    }
    .circleWrapperB {
      position: absolute;
      top: 20%;
      right: 5%;
      height: 30vw;
      width: 30vw;
      overflow: hidden;
      .circleWhite {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        height: 100%;
        width: 100%;
      }
    }
    .CourseCategory-Box {
      position: absolute;
      top: 0%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      overflow: hidden;
      // filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 60%));
      .CourseCategory-container {
        text-align: center;
        overflow: hidden;
        .CourseCategory-title {
          margin-top: 15vw;
          z-index: 5;
          height: 100%;
          width: 100%;
          overflow: hidden;
          h1 {
            color: #1f4557;
            font-size: calc(1.5rem + 1vw);
            font-weight: 700;
            line-height: 1.3;
            margin: 0;
            z-index: 5;
          }
          .HeadingUnderline {
            width: calc(9.25rem + 6vw);
          }
        }
        .chefIntroductionContentWrapper {
          margin-top: calc(0.25rem + 2vw);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          // overflow: hidden;
          .chefIntroductionContent {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 3vw;
            z-index: 6;
          }
        }
      }
    }
  }
}
