
.Course {
	margin: auto;
	width: 70%;
	max-width: 1440px;
}
.CourseBreadbox {
	height: 100px;
	padding: 45px 0px;
}
.CourseCategroy {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	margin-left: 30px;
	color: #d8a466;
}
.st-line {
	border: 3px solid #d8a466;
	border-radius: 10px;
	margin: 15px 0px;
	background-color: #d8a466;
}
.CourseRecommendTitle {
	width: 300px;
	height: 55px;

	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	margin: auto;
	padding: 40px 0;
	color: #1f4557;
}
.CourseVideo {
	width: 80%;
	height: 600px;
	align-items: center;
	margin: auto;
	padding: 40px 0;
}
.CourseSixBox{
	margin: 40px 0;
	width: 100%;
	height: 360px;
	background-color: rgb(175, 175, 175);
	position: relative;
}
.CourseSelect{
	padding: 20px 0;
}
.CourseSelect select{
	width: 135px;
	border-radius: 20px;
	margin-right: 20px;
	text-align: center;
	background-color: #ffffff;
	font-weight: 700;
	color: #1F4557;

	// // border: none;
    // appearance: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
}
// .CourseSelect select::-ms-expand {
// 	 display: none;
// 	 }

.CourseCard{
	// position: relative;
	// left: 50px;
	width: 100%;
	margin: auto;
}