.ShoppingBill-wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 20px auto;
  h1{
    font-weight: 600;
  }
  h4{
    font-weight: 600;
    color: #777;
  }
  h5{
    font-weight: 600;
    font-size: 18px;
    color: rgb(170, 170, 170);
  }
  .ShoppingBill-title {
    margin-top: 64px;
    h1 {
      margin-right: 5px;
      display: inline-flex;
      color: var(--main-color);
    }
    h5 {
      display: inline-flex;
    }
  }
  hr {
    background: var(--main-color);
    height: 5px;
    border: 0px;
    opacity: 1;
  }
  .ShoppingBill-payment-details{
    h3{
        margin-top: 20px;
    }
  }
}
