$chefTextColor: #ffffff;
$chefFontWeightText: "Noto Sans TC", Regular;
$chefTextSize: 24px;
$chefTextSizeDown: 18px;
$chefTextSize-li: 14px;

// 主廚卡片大小
.st-chefCard2 {
  width: 600px;
  height: 400px;
  background-color: #d8a566;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

// 主廚照片(左)
.st-chefCard2Picture {
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  float: left;
  width: 50%;
  // 確認圖片範圍用
  background-color: aqua;
}
// 主廚上資訊欄
.st-chefCard2Top {
  height: 240px;
  float: right;
  border-radius: 0px 20px 0px 0px;
  width: 50%;
  font-family: $chefFontWeightText;
  font-size: $chefTextSize;
  color: $chefTextColor;
  font-weight: bold;
  padding: 30px;
  text-align: left;
}
// 分隔線
.st-chefCard2Line {
  height: 3px;
  width: 100%;
  border-radius: 100px;
  background-color: $chefTextColor;
  margin: 30px 0;
}
// 主廚上資訊欄名字
.st-chefCard2TopChefName {
  font-family: $chefFontWeightText;
  font-size: 20px;
  color: $chefTextColor;
}
// 主廚下資訊欄
.st-chefCard2Down {
  height: 160px;
  float: right;
  border-radius: 0px 0px 20px 0px;
  width: 50%;
  background-color: #5e5548;
  font-family: $chefFontWeightText;
  font-size: $chefTextSizeDown;
  color: $chefTextColor;
  font-weight: bold;
  padding: 20px 0px 0px 35px;
  text-align: left;
  letter-spacing: 2px;
}
// 下資訊欄Padding設定
.st-chefCard2Down ul {
  padding: 20px 0px 15px 20px;
  list-style: disc;
}
// 下資訊欄li設定
.st-chefCard2Down ul li {
  font-family: $chefFontWeightText;
  font-size: $chefTextSize-li;
  font-weight: bold;
}
