.CollectionCourse {
  height: calc(100vh - 50px);
  //position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  .CollectionCourse-container {
    height: 95%;
    width: 100%;
    overflow: scroll;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    .CollectionCourse-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: 2px solid $activeColor;
      width: 100%;

      & h1 {
        font-weight: 100;
      }
    }
    .CollectionCourse-container-cards {
      width: 100%;
      position: relative;
    }
  }
}
