.CourseReview {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;

<<<<<<< HEAD
  // 蓋掉下面的shadow
=======
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
  box-shadow: 50px 0px 0px white, -50px 0px 0px white;
}
