.CourseInsert {
  height: $MemberCenterHeight;
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  .CourseInsert-container {
    height: 95%;
    width: 100%;
    overflow: scroll;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: $MemberCenterShadow;
    position: relative;

    .CourseInsert-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: $header-border;
      width: 100%;

      & h1 {
        font-weight: 100;
      }
    }
    .CourseInsert-container-group {
      width: 100%;
      height: 100%;
      @include flex(column);
      align-items: center;
      justify-content: flex-start;
      overflow: scroll;

      .CourseInsert-container-header {
        margin-bottom: 1rem;
        padding-left: 1rem;
        border-left: $header-border;
        width: 100%;

        & h1 {
          font-weight: 100;
        }
      }

      .CourseInsert-container-row {
        width: 100%;
        @include flex(row);
        margin-bottom: 1rem;

        .CourseInsert-container-row-inputCon {
          @include flex(column);
          align-items: flex-start;
          position: relative;
          width: 100%;
          margin: 0 0.5rem;

          .CourseInsert-container-row-inputCon-label {
            font-weight: 900;
          }

          .CourseInsert-container-row-inputCon-input {
            width: 100%;
          }

          // slider images相關的
          .CourseInsert-container-row-inputCon-sliderImage {
            @include flex(row);
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;

            .CourseInsert-container-row-inputCon-sliderImage-label {
              @include flex(row);
              align-items: center;
              justify-content: center;
              flex: 1 1 150px;
              height: 10vw;
              max-height: 200px;
              border: 2px solid $fontColor;
              border-radius: 5px;
              background: rgba(0, 0, 0, 0.2);
              cursor: pointer;
              margin: 0.25rem;
              position: relative;
              overflow: hidden;

              & img {
                //width: 100%;
                height: 120%;
                border-radius: 5px;
              }

              & svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            // 將inputbox隱藏 用label代替
            .CourseInsert-container-row-inputCon-sliderImage-input {
              display: none;
            }
          }

          // six_dishes 課程教材相關
          .CourseInsert-container-row-inputCon-sixDishes {
            @include flex(row);
            justify-content: space-between;
            position: relative;
            width: 100%;
            margin: 0.25rem 0;

            .CourseInsert-container-row-inputCon-sixDishes-label {
              width: 20vw;
              height: 20vw;
              max-width: 270px;
              max-height: 270px;
              margin-right: 0.75rem;
              border: 2px solid $fontColor;
              border-radius: 5px;
              cursor: pointer;
              position: relative;
              overflow: hidden;
              background: rgba(0, 0, 0, 0.2);
              @include flex(row);
              justify-content: center;
              align-items: center;

              & img {
                //width: 100%;
                height: 100%;
              }

              & svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .CourseInsert-container-row-inputCon-sixDishes-right {
              width: 65%;
              position: relative;
              @include flex(column);
              justify-content: space-between;

              & input {
                border-radius: 5px 5px 0 0;
              }

              & textarea {
                border-radius: 0 0 5px 5px;
                height: 83%;
              }
            }

            .CourseInsert-container-row-inputCon-sixDishes-input {
              display: none;
            }
          }
        }
      }

      .CourseInsert-container-btnCon {
        width: 100%;
        @include flex(row);
        justify-content: flex-end;
      }
    }
  }
}
