.CourseInsert {
  height: calc(100vh - 50px);
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  .CourseInsert-container {
    height: 95%;
    width: 100%;
    //overflow: scroll;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    .CourseInsert-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: 2px solid $activeColor;
      width: 100%;

      & h1 {
        font-weight: 100;
      }
    }

    .CourseInsert-container-row {
      width: 100%;
      @include flex(row);
      margin-bottom: 1rem;

      .CourseInsert-container-row-inputCon {
        @include flex(column);
        align-items: flex-start;
        position: relative;
        width: 100%;
        margin: 0 1rem;

        .CourseInsert-container-row-inputCon-input {
          width: 100%;
        }
      }
    }
  }
}
