.DefaultStudent {
  height: $MemberCenterHeight;
  //position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  .DefaultStudent-container {
    height: 95%;
    width: 100%;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: $MemberCenterShadow;
    position: relative;

    .DefaultStudent-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: $header-border;
      width: 100%;

      & h1 {
        font-weight: 100;
      }
    }
    .DefaultStudent-container-cards {
      width: 100%;
      position: relative;
      margin: 0 0 1rem 0;
      @include flex(row);
      justify-content: center;
      flex-wrap: wrap;
    }
    .DefaultStudent-container-cards-bottom {
      overflow: scroll;
    }
  }
}
