.Login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  background: rgba(0, 0, 0, 0.3);
  @include flex(row);
  justify-content: center;
  align-items: center;

  .Login-container {
    //top: -100%;
    width: 750px;
    min-height: 465px;
    z-index: 13;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    animation: Login-scaleUp 0.35s ease-in;
    @include flex(row);

    .Login-container-left {
      width: 50%;
      background: url(../../images/loginPageBackground.jpg) center center
        no-repeat;
      background-size: cover;
      @include flex(row);
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;

      // 遮罩
      .Login-container-left-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 2;
      }

      .Login-container-left-con {
        z-index: 3;
        @include flex(column);
        justify-content: center;
        align-items: center;
        color: white;
        font-size: calc(0.5rem + 0.2vw);
        font-weight: 600;
        & .UmaiLogo {
          margin-bottom: 1rem;
          width: 11vw;
          max-width: 120px;
          min-width: 90px;
        }
      }
    }

    .Login-container-right {
      width: 50%;
      padding: 20px 50px;
      position: relative;
      background: $themeColor;
      @include flex(column);
      justify-content: center;

      box-shadow: inset 15px 15px 21px #b58a56, inset -15px -15px 21px #fbbe76;

      .Login-container-right-thirdPartyCon {
        .Login-container-right-googleBtn,
        .Login-container-right-fbBtn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border: none;
          border-radius: 10px;
          padding: 1rem;
          margin: 0.5rem 0;
          & img {
            width: 25px;
            height: 25px;
          }
        }
        .Login-container-right-googleBtn {
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.2);
          &:hover {
            background: rgb(243, 243, 243);
          }
        }
        .Login-container-right-fbBtn {
          background: $facebookBlue;
          color: white;
          &:hover {
            background: rgb(60, 93, 160);
          }
        }
      }

      .Login-container-right-center {
        @include flex(row);
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0.5rem 0;
        color: white;

        .Login-container-right-center-text {
          background: $themeColor;
          padding: 0.35rem 0.75rem;
          z-index: 1;
        }

        .Login-container-right-center-line {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 1px;
          background: white;
        }
      }

      .Login-container-right-inputCon {
        @include flex(column);
        align-items: flex-start;
        position: relative;

        & label {
          color: white;
        }

        & input {
          border-radius: 5px;
          padding: 0.35rem 0.6rem 0.35rem 2.2rem;
          margin-top: 0.5rem;
          font-size: 1.1rem;
          width: 100%;
        }

        & svg {
          position: absolute;
          // top: 37px;
          top: 18px;
          left: 8px;
          width: 22px;
          height: 22px;
        }
      }

      .Login-container-right-button-con {
        width: 100%;
        //border-radius: 10px;
        overflow: hidden;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        position: relative;

        & button {
          width: 100%;
          border: none;
          padding: 0.5rem;
          text-align: center;
          background: rgb(204, 204, 204);
          color: white;
          border-radius: 10px;
          cursor: not-allowed;
        }

        .login-submit-btn-active {
          background: $themeColorBlue;
          cursor: pointer;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          &:hover {
            background: #008fd6;
          }
        }
        .register-submit-btn-active {
          background: $activeColor;
          cursor: pointer;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          &:hover {
            background: #ffa63a;
          }
        }
      }

      .Login-container-right-bottom {
        @include flex(row);
        justify-content: space-between;
        align-items: center;

        .Login-container-right-bottom-btn {
          margin: 0 0.25rem;
          &:hover {
            color: rgb(0, 0, 0);
          }
        }

        .Login-container-right-bottom-btnBlue {
          color: $themeColorBlue;
          &:hover {
            color: #008fd6;
          }
        }
      }
    }
  }

  .Login-findPassword {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 14;
    background: rgba(0, 0, 0, 0.3);
    @include flex(row);
    justify-content: center;
    align-items: center;

    .Login-findPassword-con {
      width: 20vw;
      max-width: 400px;
      min-width: 300px;
      border-radius: 8px;
      background: white;
      position: relative;

      .Login-findPassword-con-title {
        text-align: center;
        padding: 1.5rem;
        @include flex(row);
        justify-content: center;
        align-items: center;

        & svg {
          margin-right: 0.5rem;
          top: 1px;
        }
      }

      .Login-findPassword-con-line {
        width: 100%;
        height: 2px;
        background: $titleBackgroundColor;
        margin: 0.25rem 0;
      }

      .Login-findPassword-con-info {
        padding: 0.75rem 0;
        text-align: center;
        font-size: calc(0.9rem + 0.2vw);
      }

      .Login-findPassword-con-main {
        width: 80%;
        margin: 0 auto 1rem;

        .Login-findPassword-con-main-inputCon {
          @include flex(column);
          align-items: flex-start;
          position: relative;
          & input {
            border-radius: 5px;
            padding: 0.35rem 0.6rem 0.35rem 2.2rem;
            margin-top: 0.25rem;
            font-size: 1.1rem;
            width: 100%;
          }

          & svg {
            position: absolute;
            top: 13px;
            left: 8px;
            width: 22px;
            height: 22px;
          }
        }

        .Login-findPassword-con-main-btn {
          border-radius: 5px;
          padding: 0.35rem 0.6rem;
          margin-top: 0.75rem;
          font-size: 1.1rem;
          width: 100%;
          text-align: center;
          background: rgb(196, 196, 196);
          cursor: not-allowed;
        }

        .Login-findPassword-con-main-btn-active {
          // background: $activeColor;
          background: $themeColor;
          cursor: pointer;
          color: white;
          &:hover {
            // background: $themeColor;
            background: $activeColor;
          }
        }
      }
    }
  }
}

@keyframes Login-scaleUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
