.MemberInfo {
  height: $MemberCenterHeight;
  //position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  .MemberInfo-container {
    height: 95%;
    width: 100%;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: $MemberCenterShadow;
    position: relative;
    overflow: scroll;

    .MemberInfo-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: $header-border;
      width: 100%;
      position: relative;

      & h1 {
        font-weight: 100;
      }

      // 密碼修改按鍵
      .MemberInfo-passwordEditButton {
        position: absolute;
        right: 0;
        top: 10px;
        @include flex(row);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $themeColorBlue;
        }

        & span {
          margin-left: 0.01rem;
          font-size: 1.1rem;
        }
      }
    }

    .MemberInfo-container-cards {
      width: 100%;
      //min-height: 300px;
      position: relative;
      margin: 0 0 1rem 0;
      @include flex(column);
      //flex-wrap: wrap;
      border: 2.2px solid #e1e1e1;
      padding: 1rem;
      border-radius: 10px;
      .MemberInfo-container-row {
        width: 70%;
        @include flex(row);
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 1rem;

        .MemberInfo-container-inputCon {
          flex: 1 1 200px;
          @include flex(column);
          margin-right: 1rem;
          font-size: 1.15rem;
          .MemberInfo-container-inputCon-label {
            margin-bottom: 0.25rem;
          }

          // 一般的input box
          .MemberInfo-container-inputCon-input {
            border-radius: 5px;
            // border: 1px solid $fontColor;
            //padding: 0.15rem 0.35rem;
            //margin-top: 0.25rem;
            // font-size: 1.1rem;
            width: 100%;
          }

          // 放使用者帳號的input
          .MemberInfo-accountContainer {
            background: rgba(0, 0, 0, 0.1);
            font-weight: 800;
          }
        }
      }
    }

    .MemberInfo-container-buttonCon {
      margin-top: 2rem;
      width: 100%;
      @include flex(row);
      justify-content: flex-end;
      //margin: 1rem 0;
    }

    // 密碼修改容器
    .MemberInfo-editPwd {
      position: absolute;
      background: transparent;
      border-radius: 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @include flex(row);
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-out;

      .MemberInfo-editPwd-con {
        width: 20vw;
        max-width: 400px;
        min-width: 300px;
        //height: 400px;
        border-radius: 8px;
        background: white;
        position: relative;
        //top: -100%;
        transform: scale(0);
        transition: all 0.3s ease-out;

        .MemberInfo-editPwd-con-title {
          text-align: center;
          padding: 1.5rem;
          @include flex(row);
          justify-content: center;
          align-items: center;

          & svg {
            margin-right: 0.5rem;
            top: 1px;
          }
        }

        .MemberInfo-editPwd-con-line {
          width: 100%;
          height: 2px;
          background: $titleBackgroundColor;
          margin: 0.25rem 0;
        }

        .MemberInfo-editPwd-con-info {
          padding: 0.75rem 0;
          text-align: center;
          font-size: calc(0.9rem + 0.2vw);
        }

        .MemberInfo-editPwd-con-main {
          width: 80%;
          margin: 0 auto 1rem;

          .MemberInfo-editPwd-con-main-inputCon {
            @include flex(column);
            align-items: flex-start;
            position: relative;
            & input {
              border-radius: 5px;
              padding: 0.35rem 0.6rem 0.35rem 2.2rem;
              margin-top: 0.25rem;
              font-size: 1.1rem;
              width: 100%;
            }

            & svg {
              position: absolute;
              top: 13px;
              left: 8px;
              width: 22px;
              height: 22px;
            }
          }

          .MemberInfo-editPwd-con-main-btn {
            border-radius: 5px;
            padding: 0.35rem 0.6rem;
            margin-top: 0.75rem;
            font-size: 1.1rem;
            width: 100%;
            text-align: center;
            background: rgb(196, 196, 196);
            cursor: not-allowed;
          }

          .MemberInfo-editPwd-con-main-btn-active {
            // background: $activeColor;
            background: $themeColor;
            cursor: pointer;
            color: white;
            &:hover {
              // background: $themeColor;
              background: $activeColor;
            }
          }
        }
      }
    }

    .MemberInfo-editPwd-active {
      background: rgba(0, 0, 0, 0.2);
      z-index: 10;
      transition: all 0.3s ease-in;
      .MemberInfo-editPwd-con {
        //top: 0;
        transform: scale(1);
        transition: all 0.3s ease-in;
      }
    }
  }
}
