.MemberCenter {
  //font-weight: 100;
  display: flex;
  justify-content: center;
<<<<<<< HEAD

  // 11/24新增
  margin-top: 63px;
=======
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
  .MemberCenter-container {
    width: 70vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
<<<<<<< HEAD

// 會員中心各個頁面，沒有資料時顯示文字的樣式
.MemberCenter-defaultText {
  width: 100%;
  text-align: center;
  & a {
    color: $themeColor;
    font-size: 110%;
    &:hover {
      color: $activeColor;
    }
  }
}
=======
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
