.MemberCenter {
  //font-weight: 100;
  display: flex;
  justify-content: center;

  // 11/24新增
  margin-top: 53px;
  .MemberCenter-container {
    width: 70vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
