//$avatar-size: 130px;
$avatar-size: 8vw;
$avatar-size-max: 150px;
$avatar-min-max: 50px;

$icon-size-max: 25px;
$icon-size: 2vw;
.MemberSidebar {
  height: $MemberCenterHeight;
  position: relative;
  @include flex(column);
  align-items: center;
  justify-content: center;
  width: 20%;
  .MemberSidebar-container {
    height: 95%;
    max-height: 100vh;
    width: 100%;
    @include flex(column);
    align-items: center;
    justify-content: space-between;
    .MemberSidebar-container-top {
      height: 32%;
      width: 100%;
      overflow: scroll;
      border-radius: 10px;
      @include flex(column);
      align-items: center;
      // justify-content: center;
      justify-content: space-between;
      box-shadow: $MemberCenterShadow;
      position: relative;
      .MemberSidebar-container-top-avatarCon {
        @include flex(column);
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .MemberSidebar-container-avatar {
          width: $avatar-size;
          height: $avatar-size;
          max-width: $avatar-size-max;
          min-width: $avatar-min-max;
          max-height: $avatar-size-max;
          min-height: $avatar-min-max;

          border-radius: 50%;
          overflow: hidden;
          margin: 0.5rem 0;
          position: relative;
          cursor: pointer;

          .MemberSidebar-container-avatar-input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
          }
          .MemberSidebar-container-avatar-label {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            cursor: pointer;
            @include flex(row);
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            overflow: hidden;

            .MemberSidebar-container-avatar-img {
              height: 100%;
              //border-radius: 50%;
            }

            .MemberSidebar-container-avatar-mask {
              position: absolute;
              top: 100%;
              left: 0px;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
              opacity: 0;
              z-index: 2;
              transition: all 0.5s ease;
            }
          }

          .MemberSidebar-container-avatar-pen {
            position: absolute;
            top: calc(50% - 10px);
            left: calc(50% - 10px);
            fill: white;
            z-index: 2;
            opacity: 0;
          }

          &:hover {
            .MemberSidebar-container-avatar-label {
              border: 1px solid $fontColor;
              .MemberSidebar-container-avatar-mask {
                opacity: 1;
                top: 0;
              }
            }
            .MemberSidebar-container-avatar-pen {
              opacity: 1;
            }
          }
        }

        .MemberSidebar-container-mamberName {
          font-size: calc(1rem + 0.7vw);
          //margin-bottom: 1rem;
          text-align: center;
          position: relative;
        }
      }

      .MemberSidebar-container-loginType-con {
        width: 100%;
        border-top: 1px solid rgb(153, 153, 153);
        background: $themeColorBlue;
        color: white;

        .MemberSidebar-container-loginType {
          @include flex(row);
          justify-content: space-between;
          align-items: center;
          width: 80%;
          margin: 0.75rem auto;
          // padding: 1rem;

          .MemberSidebar-container-loginType-left {
            @include flex(row);
            justify-content: center;
            align-items: center;

            .MemberSidebar-container-loginType-left-p {
              margin-left: 0.5rem;
              font-size: calc(0.75rem + 0.3vw);
            }
            & img {
              width: $icon-size;
              height: $icon-size;
              max-width: $icon-size-max;
              max-height: $icon-size-max;
            }
          }
          .MemberSidebar-container-loginType-right {
            @include flex(row);
            justify-content: center;
            align-items: center;
            & svg {
              width: $icon-size;
              height: $icon-size;
              max-width: $icon-size-max;
              max-height: $icon-size-max;
              fill: rgb(161, 224, 67);
            }
          }
        }
      }
    }
    .MemberSidebar-container-bottom {
      height: 66.6%;
      width: 100%;
      overflow: scroll;
      padding: 1rem 0;
      border-radius: 10px;
      @include flex(column);
      align-items: center;
      justify-content: flex-start;
      box-shadow: $MemberCenterShadow;
      .MemberSidebar-container-ul {
        list-style: none;
        .MemberSidebar-container-ul-li {
          padding: 0.5rem 0;
          font-size: calc(1rem + 0.4vw);
          @include flex(row);
          align-items: center;
          cursor: pointer;
          transition: 0.2s ease;
          .MemberSidebar-container-ul-li-text {
            margin-left: 0.25rem;
          }

          &:hover {
            color: $activeColor;
          }
        }

        // 主廚專屬按鈕
        .MemberSidebar-container-ul-li2 {
          //font-weight: 700;
          //color: $themeColorBlue;

          &:hover {
            color: $themeColorBlue;
          }
        }

        .MemberSidebar-container-ul-li-active {
          color: $activeColor;
        }

        // 主廚專屬功能
        .MemberSidebar-container-ul-li-active2 {
          color: $themeColorBlue;
        }
      }
    }
  }
}
