.CalendarAvailable {
  position: relative;
  width: 100%;
  max-width: 140px;
  max-height: 45px;
  .CalendarAvailable-selector {
    width: 100%;
    max-height: 45px;
    padding: 0.45rem;
    border-radius: 30px;
    @include flex(row);
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    color: $themeColor;

    .CalendarAvailable-selector-text {
      margin: 0 0.5rem;
    }
    & svg {
      width: 20px;
      height: 20px;
    }
  }

  .CalendarAvailable-container {
    position: absolute;
    //position: relative;
    z-index: 10;
    background: white;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid $themeColor;
    width: 200%;
    min-width: 200px;
    max-width: 300px;
    @include flex(column);
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 0.3em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    .CalendarAvailable-header {
      width: 100%;
      @include flex(row);
      justify-content: center;
      align-items: center;

      .year-selector,
      .month-selector {
        border: none;
        margin: 0 0.35rem 0.15rem;
        background: white;
        //border-bottom: 1px solid $themeColorBlue;
        border-radius: 0;
        font-size: 1.1rem;
      }
    }

    .CalendarAvailable-table {
      .CalendarAvailable-table-head {
        .CalendarAvailable-table-tr {
          border-bottom: 1px solid $fontColor;
          .CalendarAvailable-table-th {
            padding: 0.35rem;
            //margin: 0.15rem;
            text-align: center;
            font-weight: 900;
            border: 1px solid $fontColor;
          }
        }
      }
      .CalendarAvailable-table-body {
        .CalendarAvailable-table-tr {
          //border-bottom: 1px solid $fontColor;
          .CalendarAvailable-table-td {
            cursor: pointer;
            padding: 0.35rem;
            //margin: 0.15rem;
            width: 8%;
            height: 8%;
            text-align: center;
            //border-radius: 50px;
            border: 1px solid $fontColor;

            &:hover {
              background: #e0e0e0;
              color: rgb(0, 0, 0);
            }
          }

          .today {
            background: #e0e0e0 !important;
            color: $highLevelColor !important;
            //border: 2px solid $highLevelColor;
            &:hover {
              background: #e0e0e0;
              color: $highLevelColor;
            }
          }
          .available {
            background: #b3cedb;
          }
          .active {
            background: $themeColor;
            color: white;
            //border: 2px solid $fontColor;
          }
          .disabled {
            cursor: not-allowed;
            text-decoration: line-through;
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}
