$chefTextColor: #ffffff;
$chefFontWeightText: "Noto Sans TC", sans-serif;
$chefTextSize: calc(10px + 0.5vw);
$chefTextSizePadding: calc((10px + 0.5vw) * 2);
$chefTextSize-ul: calc(6px + 0.75vw);
$chefTextSize-li: calc(6px + 0.5vw);

// 主廚卡片大小
.st-chefCard {
  width: 60vw;
  height: 35vw;
  min-width: 450px;
  min-height: 300px;
  max-width: 900px;
  max-height: 600px;
  background-color: #d8a566;
  border-radius: 1.5vw;
  margin: 1vw 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

// 主廚照片容器(左)
.st-chefCardPictureWrapper {
  height: 100%;
  border-radius: 1.5vw 0 0 1.5vw;
  float: left;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  // 防暴版背景色
  background: #707070;
  img {
    height: 100%;
  }
}

// 主廚文字容器(右)
.st-chefCardTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  // 主廚上資訊欄
  .st-chefCardTop {
    height: 20vw;
    max-height: 20vw;
    float: right;
    border-radius: 0 1.5vw 0 0;
    width: 100%;
    font-family: $chefFontWeightText;
    font-size: $chefTextSize;
    color: $chefTextColor;
    padding: 0 $chefTextSizePadding;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    .st-chefCardTopQuotation {
      font-weight: 500;
    }
    // 分隔線
    .st-chefCardLine {
      height: 3px;
      width: 100%;
      border-radius: 100px;
      background-color: $chefTextColor;
      margin-top: calc(0.25rem + 0.75vw);
    }
    // 主廚上資訊欄名字
    .st-chefCardTopChefName {
      width: 100%;
      margin-top: calc(0.25rem + 0.75vw);
    }
  }
  // 主廚下資訊欄
  .st-chefCardDown {
    height: 15vw;
    max-height: 15vw;
    float: right;
    border-radius: 0 0 1.5vw 0;
    background-color: #5e5548;
    width: 100%;
    font-family: $chefFontWeightText;
    color: $chefTextColor;
    padding: 0 $chefTextSizePadding;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    letter-spacing: 2px;
    div {
      width: 100%;
      font-size: $chefTextSize-ul;
    }
<<<<<<< HEAD
    pre {
      width: 100%;
    font-size:  $chefTextSize-ul;
    }
=======
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
    ul {
      width: 100%;
      padding-top: 0.5vw;
      list-style: disc;
      list-style-position: inside;
      li {
        font-size: $chefTextSize-li;
      }
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
