.st-courseMiniCard {
	position: relative;
	width: 250px;
	height: 450px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	display: flex;
}
.st-courseMiniCardPicture img {
	height: 200px;
	width: 250px;
	border-radius: 10px 10px 0px 0px;
	background-color: black;
}
.st-courseMiniCardBar {
	position: absolute;
	color: white;
	padding: 0.25rem 1rem;
	z-index: 3;
	width: 150px;
	top: 15px;
	right: -45px;
	text-align: center;
	font-weight: 700;
	font-size: 90%;
	transform: rotate(45deg);
}
.st-courseMiniCardBarActiveDeadline {
	background: $activeColor;
}
.st-courseMiniCardBarActiveFull {
	background: $themeColorBlue;
}
.st-courseMiniCardName {
	width: 250px;
	height: 115px;
	font-weight: bold;
	font-family: 'Noto Sans TC', Bold;
	color: #505050;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	line-height: 23px;
}
.st-courseMiniCardChefName {
	margin-top: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #909090;
}
.st-startWidth {
	width: 120px;
	max-height: 34.5px;
}
/* 星星盒子(外框) */
.st-courseMiniCardBoxStar {
	color: #999999; /*背景星星顏色*/
	overflow: hidden;
	font-size: 24px;
}
/* 填滿星星 width設在外面 */
.st-startWidth .st-courseMiniCardFullStar {
	font-size: 24px;
	top: -24.5px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	color: #ffa231; /*前景星星顏色*/
}
.st-courseMiniCardStarCount {
	position: relative;
	top: -48px;
	left: 125px;
	color: #909090;
	font-size: 14px;
}
.st-courseMiniCardBatch {
	position: absolute;
	width: 100%;
	height: 45px;
	margin-left: 20px;
	font-family: 'Noto Sans TC', Bold;
	font-size: 14px;
}
.st-courseMineCardTime {
	margin-top: 5px;
}
.st-courseMineCardTime {
	margin-top: 5px;
}
.st-courseMiniCardProgressBox {
	position: relative;
	top: 45px;
	width: 200px;
	margin-left: 20px;
	height: 6px;
}
.st-courseMiniCardProgress {
	width: 200px;
	height: 6px;
	border: 1px solid $activeColor;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}
.st-courseMiniCardFullProgress {
	height: 5px;
	background-color: $activeColor;
	// width: 80%;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	top: -19px;
}
.st-courseMiniCardCount {
	top: -20px;
	position: relative;
	// font-weight: 700;
	// font-size: $chefTextSize-li;
	font-size: 14px;
	font-weight: normal;
	color: #909090;
}
.st-courseMiniCardLevel {
	position: relative;
	width: 47px;
	height: 25px;
	top: 75px;
	margin-left: 20px;
	border-radius: 5px 5px 5px 5px;

	color: white;
	background: $lowLevelColor;
	padding: 0.15rem 0.5rem;
	text-align: center;
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
	font-size: 80%;
}
.st-courseMiniCardSpecialPrice {
	top: 5px;
	left: 83px;
	position: relative;
	text-align: center;
	font-family: 'Noto Sans TC', Bold;
	color: #909090;
	font-size: 14px;
	text-decoration: line-through;
}
.st-courseMiniCardPrice {
	top: 48px;
	left: -10px;
	position: relative;
	@include flex(column);
	align-items: flex-end;
	font-size: 1.3rem;
	font-weight: 700;
}
.st-courseMiniCardPriceBox {
	width: 100%;
	height: 80px;
}