.CreditCards {
<<<<<<< HEAD
  width: 85%;
=======
  width: 70%;
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
  max-width: 900px;
  @include flex(row);
  align-items: center;
  position: relative;
  flex-wrap: wrap;
<<<<<<< HEAD
  padding: 1rem 1.2rem;

  .CreditCards-left {
    margin: 0 1.5rem 0 0;
=======
  padding: 1rem 0;

  .CreditCards-left {
    margin: 0 1rem 0 0;
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
    flex: 1 1 200px;
    position: relative;
  }
  .CreditCards-right {
    flex: 2 1 180px;
    @include flex(column);
    justify-content: space-between;
    position: relative;
    //max-width: 300px;
    //height: calc(100% - 2rem);
    //margin: 0 1rem 0 0;

    .CreditCards-right-row {
      padding: 0.5rem 0 0 0;
      @include flex(row);
      position: relative;

      .CreditCards-right-row-input {
        width: 100%;
<<<<<<< HEAD
        // margin: 0 1rem 0 0;
=======
        margin: 0 1rem 0 0;
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
        border-radius: 5px;
        border: 1px solid $fontColor;
        //padding: 0.25rem 0.5rem;
      }
<<<<<<< HEAD

      // 到期日 / 安全碼欄位
      .CreditCards-right-row-date {
        margin-right: 0.25rem;
      }
      .CreditCards-right-row-cvc {
        margin-left: 0.25rem;
      }
=======
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
    }
  }
}

// 強制修改Cards套件的寬度
.rccs {
  width: 275px !important;
  position: relative;
  .rccs__card {
    width: 100% !important;
  }
}

@media screen and (max-width: 1500px) {
  .CreditCards {
<<<<<<< HEAD
    width: 95%;
=======
    width: 80%;
>>>>>>> 6e5cd6ec554d430d1b4a17d42a5590a0bec1aa5a
  }
}
