.DefaultStudentCard {
  width: 90%;
  max-width: 900px;
  position: relative;
  margin: 0.5rem;
  //overflow: hidden;
  transition: 0.5s ease;

  .DefaultStudentCard-title {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: $titleBackgroundColor;
    padding: 0.75rem;
    transition: 0.5s ease;
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(32, 26, 26, 0.3);

    .DefaultStudentCard-title-left {
      font-weight: 900;
      font-size: 110%;
      color: $themeColor;
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      & svg {
        width: 30px;
        height: 30px;
        transition: 0.35s ease;
      }
    }

    .DefaultStudentCard-title-right {
      font-size: 1rem;
      @include flex(row);
      max-height: 34px;

      .DefaultStudentCard-title-right-select {
        padding: 0.25rem 0.25rem;
        font-size: 1rem;
        border-radius: 5px;
        color: $fontColor;
      }
      .DefaultStudentCard-title-right-btn {
        padding: 0.25rem 0.75rem;
        font-size: 90%;
        margin-left: 0.5rem;
      }
    }
  }

  .DefaultStudentCard-main {
    max-height: 0;
    transition: 0.4s ease-out;
    opacity: 0;
    //overflow: hidden;
    .DefaultStudentCard-main-row {
      display: none;
    }
  }
}

// 卡片打開時
.DefaultStudentCard-active {
  .DefaultStudentCard-title {
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 1px 5px rgba(32, 26, 26, 0.3);

    .DefaultStudentCard-title-left {
      & svg {
        transform: rotate(-180deg);
        transition: 0.4s ease;
      }
    }
  }
  .DefaultStudentCard-main {
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 1rem 2rem;
    max-height: 500px;
    transition: 0.4s ease-in;
    opacity: 1;

    .DefaultStudentCard-main-row {
      display: flex;
      width: 100%;
      margin-bottom: 1rem;
      @include flex(row);
      justify-content: space-between;
      align-items: center;

      .DefaultStudentCard-main-row-item {
        flex: 1 1 200px;
        margin: 0 1rem;
        @include flex(column);
        justify-content: center;
        align-items: flex-start;

        .DefaultStudentCard-main-row-item-label {
          cursor: pointer;
          margin-bottom: 0.25rem;
        }

        .DefaultStudentCard-main-row-item-input {
          border-radius: 5px;
          border: 1px solid $fontColor;
          // padding: 0.15rem 0.35rem;
          // font-size: 1.1rem;
          width: 100%;
          // margin-top: 0.25rem;
        }
      }
      .DefaultStudentCard-main-row-itemEmail {
        width: 100%;
      }

      .DefaultStudentCard-main-row-selectCon {
        margin: 0 1rem;
        .DefaultStudentCard-main-row-selectCon-checkbox {
          display: inline-block;
          background-color: #aaa;
          padding: 3px 6px;
          border: 1px solid gray;
          color: #444;
          user-select: none;
          width: auto;

          &:checked {
            color: yellow;
            background-color: $themeColorBlue;
          }
        }
      }
    }
  }
}

@keyframes DefaultStudentCard-scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
