:root {
  --navbar-height: 55px;
  --navbar-dropdown-top: 80px;
}
// NavbarHeight
.Header {
  position: fixed;
  // 影響按鈕，先注解12/2亭
  // height: 100vh;
  // width: 100vw;
  // height: 63px;
  z-index: 20;
  .Navbar {
    background: $themeColor;
    color: white;
    font-weight: 100;
    @include flex(row);
    justify-content: center;
    font-size: 100%;
    .Navbar-container {
      height: 100%;
      width: 70vw;
      max-width: 1440px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Navbar-container-item {
        @include flex(row);
        justify-content: center;
        align-items: center;
        height: var(--navbar-height);

        & a {
          @include flex(row);
          justify-content: center;
          align-items: center;
          .UmaiLogo {
            width: 85px;
            padding: 0.25rem 0;
            margin-right: 2vw;
          }
        }
        .Navbar-container-item-container {
          flex-direction: column;
          padding-left: 30px;
        }
        .Navbar-container-item-container-UmaiLogo {
          padding-left: 0;
        }
        .Navbar-container-item-container,
        .Navbar-container-item-container2 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: var(--navbar-height);
          .Navbar-container-item-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: white;
            transition: 0.3s;
            cursor: initial;
            &:hover {
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .Navbar-container-item-btn-login {
            transition: 0.4s;
            cursor: pointer;
          }

          .Navbar-container-item-CourseSearch {
            cursor: pointer;
          }

          // .Navbar-container-item-CourseDiscover-dropdown-hoverZone,
          // .Navbar-container-item-ExperienceShare-dropdown-hoverZone {
          //   visibility: visible;
          //   position: absolute;
          //   top: var(--navbar-height);
          //   display: block;
          //   height: 1rem;
          //   width: calc(15rem + 5vw);
          //   background: transparent;
          //   &:hover + .Navbar-container-item-CourseDiscover-dropdown,
          //   &:hover + .Navbar-container-item-ExperienceShare-dropdown {
          //     visibility: visible;
          //     opacity: 1;
          //     box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
          //   }
          // }

          &:hover .Navbar-container-item-CourseDiscover-dropdown,
          &:hover .Navbar-container-item-ExperienceShare-dropdown {
            visibility: visible;
            opacity: 1;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
          }

          .Navbar-container-item-CourseDiscover-dropdown,
          .Navbar-container-item-ExperienceShare-dropdown {
            visibility: hidden;
            opacity: 0;
            box-shadow: 0;
            // 以上是hover變化樣式
            position: absolute;
            top: var(--navbar-dropdown-top);
            width: calc(15rem + 5vw);
            background: transparent;
            padding: 1rem 2rem;
            color: #d8a466;
            font-weight: 700;
            background: white;
            border-radius: 1vw;
            z-index: 20;
            transition: 0.4s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
              text-align: left;
              height: 100%;
              // padding-top: 0 2rem;
              li {
                font-size: 1rem;
                line-height: 2rem;
                list-style: disc inside;
                &:hover {
                  cursor: pointer;
                  color: #f7c485;
                }
              }
            }
            &:hover {
              visibility: visible;
              opacity: 1;
              box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
            }
          }
          .Navbar-container-item-CourseDiscover-dropdown {
            height: calc(3 * 2rem + 2rem) !important;
          }
          .Navbar-container-item-ExperienceShare-dropdown {
            height: calc(1 * 2rem + 2rem) !important;
          }

          .Navbar-container-item-Cart {
            cursor: initial;
            &:hover .Navbar-container-item-btn2-Cart {
              transform: scale(1.1);
            }
          }

          &:hover .Navbar-container-item-Cart-dropdown {
            visibility: visible;
            opacity: 1;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
          }

          .Navbar-container-item-Cart-dropdown {
            visibility: hidden;
            opacity: 0;
            box-shadow: 0;
            // 以上是hover變化樣式
            position: absolute;
            transition: 0.4s;
            color: #d8a466;
            font-weight: 700;
            background: white;
            border-radius: 1vw;
            z-index: 20;
            display: flex;
            // transform: scale(0.7);
            &:hover {
              visibility: visible;
              opacity: 1;
              box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
            }
          }

          .Navbar-container-item-Cart-dropdown {
            justify-content: center;
            align-items: flex-start;
            width: calc(25rem + 5vw);
            top: var(--navbar-dropdown-top);
            right: 0;
            padding-top: 1.5rem;
            .Navbar-container-item-Cart-dropdown-container {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              .CartCourse-container-empty {
                width: calc(22rem + 5vw);
                height: 8rem;
                border-bottom: 2px solid #999;
                background: white;
                margin: 0 1.5rem 1.5rem 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .Navbar-container-item-Cart-dropdown-info-bottom {
                height: 7rem;
                width: 100%;
                background: #ffebd2;
                border-radius: 0 0 1vw 1vw;
                padding: 1rem 1.5rem 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Navbar-container-item-Cart-dropdown-info-bottom-left {
                  .sumCourse p {
                    font-size: initial;
                    color: #999;
                    font-weight: 500;
                  }
                }
                .Navbar-container-item-Cart-dropdown-info-bottom-right {
                  .goCheckOut {
                    width: calc(10rem + 4vw);
                    height: 4rem;
                    background: #d8a466;
                    border-radius: 0.5vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    h5 {
                      color: white;
                    }
                    &:hover {
                      background: #f7c485;
                    }
                  }
                }
              }
            }
          }
        }

        .Navbar-container-item-btn2 {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          transition: 0.4s;
          background: white;
          margin: 0 0.15rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            transform: scale(1.1);
            background: rgba(255, 255, 255, 0.7);
          }
          .Navbar-container-item-btn2-Cart {
            fill: $themeColor;
            transition: 0.4s;
            cursor: initial;
          }

          .Navbar-container-item-btn2-avatar {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  //搜尋列
  .Navbar-CourseSearch {
    position: absolute;
    top: var(--navbar-dropdown-top);
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .Navbar-CourseSearch-container {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
      width: 70vw;
      color: #d8a466;
      padding: 2rem 2rem 0 2rem;
      background: white;
      border-radius: 1vw;
      z-index: 20;
      .Navbar-CourseSearch-dropdown {
        position: relative;
        display: block;
        margin-bottom: 1rem;
        .Navbar-CourseSearch-dropdown-SearchBar {
          border: 2px solid #d8a466;
          border-radius: 0.5vw;
          &:hover {
            border: 2px solid #ffc57d;
          }
          &:focus {
            border: 2px solid #ffc57d;
          }
        }
        .SearchBar-cross-circle {
          position: absolute;
          top: calc(50% - 0.75rem);
          right: 1rem;
          height: 1.5rem;
          width: 1.5rem;
          color: white;
          background: #999999;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background: #aaa;
          }
          &:active {
            background: #999999;
          }
          .SearchBar-cross-icon {
            height: 40%;
            width: 40%;
          }
        }
      }
      .SearchKeywordTag {
        position: relative;
        display: inline;
        height: 1.5rem;
        width: 100%;
        margin-bottom: 1rem;
        span {
          font-weight: 700;
          color: #666;
          margin-right: 0.75rem;
        }
        .KeywordTag {
          display: inline;
          font-size: 1rem;
          text-align: center;
          color: white;
          background: #666;
          border-radius: 10px;
          padding: 0.25rem 0.5rem;
          margin-right: 1rem;
          margin-top: 1rem;
          &:hover {
            cursor: pointer;
            background: #777;
          }
        }
      }
      .SearchCourseList {
        margin-top: 0.5rem;
        .recommandCourse {
          width: 100%;
          text-align: left;
          color: #999;
          border-bottom: 2px solid #999;
          padding: 0.5rem 0;
          &:hover {
            color: #666;
            cursor: pointer;
            background: #ffebd2;
          }
        }
      }
    }
  }
}
