.OrderCard {
  .OrderCard-container {
    max-width: 900px;
    border-bottom: 1px solid $themeColor;
    position: relative;
    @include flex(row);
    justify-content: space-between;
    cursor: pointer;
    font-size: 90%;
    //margin-top: 0.5rem;
    padding: 0.5rem 0;

    &:hover {
      background: #eee;
    }
    .OrderCard-image-con {
      width: 18%;
      max-height: 80px;
      position: relative;
      overflow: hidden;
      .OrderCard-image {
        width: 100%;
      }
    }

    .OrderCard-courseTitle {
      width: 30%;
    }

    .OrderCard-items {
      @include flex(column);
      align-items: center;
    }

    .OrderCard-mamberCount {
      align-items: flex-end;
    }
  }

  // 下拉式付款詳細內容
  .OrderCard-detail {
    width: 100%;
    max-width: 900px;
    height: 0;
    opacity: 0;
    background: #f3f3f3;
    transition: 0.25s ease;

    .OrderCard-detail-title {
      border-bottom: 1px solid $fontColor;
      .hrderCard-detail-title-h3 {
        padding: 0.5rem 0;
      }
    }

    .OrderCard-detail-container {
      padding: 0.5rem 0;
      @include flex(row);

      .OrderCard-detail-container-item {
        flex: 1 1 300px;

        .OrderCard-detail-container-item-title {
          margin-bottom: 0.25rem;
        }

        .OrderCard-detail-container-item-content {
          font-size: 90%;
        }
      }
    }
  }

  .OrderCard-detail-active {
    height: 250px;
    opacity: 1;
    border-bottom: 1px solid $themeColor;
    padding: 0.5rem;
  }
}
