.ShareCard {
  font-family: "Noto Sans TC", sans-serif;
  margin: 20px 0;
  height: 30vw;
  width: 20vw;
  min-height: 360px;
  min-width: 220px;
  max-height: 480px;
  max-width: 330px;
  border-radius: 1vw;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  background: white;
  .ShareCardContentFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .ShareCardPictureBox {
      position: relative;
      margin: 2vw 0 0 0;
      height: 7vw;
      width: 80%;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      border-radius: 10px 10px 10px 10px;
      .ShareCardPicture {
        position: relative;
        border-radius: 50%;
        width: 7vw;
        height: 7vw;
        overflow: hidden;
        img {
          border-radius: 10px 10px 10px 10px;
        }
      }
    }
    .ShareCardPictureName {
      color: #707070;
      font-size: calc(1rem + 0.1vw);
      font-weight: 700px;
      text-align: center;
      padding: 5px;
    }
    .ShareCardCourseName {
      height: 2vw;
      max-height: 34px;
      width: 80%;
      color: #000000;
      font-size: calc(1rem + 0.25vw);
      line-height: calc(1.25rem + 0.25vw);
      font-weight: 700;
      text-align: center;
    }
    .ShareCardStar {
      .st-boxPos {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2vw;
        max-height: 34px;
        width: 7vw;
        margin: auto;
      }
      .st-boxStar {
        color: #999999; /*背景星星顏色*/
        overflow: hidden;
        /*調整寬度可變更星等*/
        font-size: calc(1rem + 0.1vw);
      }
      /* 填滿星星 width設在外面 */
      .st-fullStar {
        /*調整寬度可變更星等 須跟上面一樣*/
        font-size: calc(1rem + 0.1vw);
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #ffa231; /*前景星星顏色*/
      }
    }

    .ShareCardText {
      height: 10vw;
      max-height: 170px;
      width: 80%;
      margin: auto;
      .ShareCardTextTop {
        height: 1vw;
        text-align: left;
        font-size: calc(2rem + 0.1vw);
        font-weight: 700;
        width: 100%;
      }
      .ShareCardComment {
        margin-top: 1vw;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        p {
          text-align: left;
          padding: 0 1.5vw;
          color: #000000;
        }
      }
      .ShareCardTextDown {
        height: 1vw;
        text-align: right;
        font-size: calc(2rem + 0.1vw);
        font-weight: 700;
        width: 100%;
      }
    }
  }
}
