.StarGroup {
  @include flex(row);
  justify-content: center;
  align-items: center;
  margin-bottom: 0.15rem;
  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #909090;
    margin-left: 5px;
  }

  .StarGroup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    position: relative;
    height: 17px;
    overflow: hidden;
    .StarGroup-container-star {
      z-index: 2;
      width: 101%;
      height: 100%;
    }
    .StarGroup-container-background {
      position: absolute;
      top: 2px;
      left: 0;
      width: 20%;
      height: 100%;
      z-index: 1;
    }
  }
}
