$themeColor: #d8a466;
$themeColorBlue: #0078b3;
$activeColor: #ffb257;
$fontColor: #666666;
$facebookBlue: rgb(66, 103, 178);

// courseCard1用的變數
$cardDarkColor: #5d5548;
$highLevelColor: #eb6b6a;
$midLevelColor: #5f9e72;
$lowLevelColor: #5eb2eb;

// DefaultStudentCard 用
$titleBackgroundColor: #eeeeee;

// MemberCenter
// 定高
$MemberCenterHeight: calc(100vh - 63px);
// 最外框框陰影
$MemberCenterShadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow: -moz-hidden-unscrollable; /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
	height: 100%;
}
body {
	font-family: "Noto Sans TC", sans-serif;
	color: $fontColor;

	// //將scrollbar移除
	-ms-overflow-style: none;
	//width: calc(100vw + 18px); /*瀏覽器滾動條的長度大約是 18px*/
	overflow: auto;
	scroll-behavior: smooth;
}

// 設定scrollbar樣式
/* width */
::-webkit-scrollbar {
	//width: 5px;
	display: none;
}
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
	//background: $themeColor;
	border-radius: 3px;
	opacity: 0;
}
/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $activeColor;
//   opacity: 1;
// }

// placehoder預設顏色
::placeholder {
	/* Firefox, Chrome, Opera */
	color: rgba(0, 0, 0, 0.3);
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(0, 0, 0, 0.3);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgba(0, 0, 0, 0.3);
}

// 覆蓋bootstrap樣式
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

img,
svg {
	vertical-align: baseline;
}

// 移除所有button樣式
button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input,
textarea,
select {
	color: $fontColor;
	outline: none;
	border: 1px solid $fontColor;
	padding: 0.25rem 0.45rem;
	font-size: 1rem;
	border-radius: 5px;
}
input,
textarea {
	width: 100%;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: $fontColor;
	&:hover {
		color: $activeColor;
	}
}

// 各個按鍵component的樣式
%button-basic {
	padding: 0.35rem 0.75rem;
	color: white;
	border-radius: 5px;
}

.button-themeColor {
	@extend %button-basic;
	background: $themeColor;

	&:hover {
		background-color: $activeColor;
	}
}
.button-themeColorBlue {
	@extend %button-basic;
	background: $themeColorBlue;

	&:hover {
		background-color: #006ca1;
	}
}
.button-highLeveColor {
	@extend %button-basic;
	background: $highLevelColor;

	&:hover {
		background-color: #cc5a5a;
	}
}
.button-activeColor {
	@extend %button-basic;
	background: $activeColor;

	&:hover {
		background-color: $activeColor;
	}
}
.button-darkColor {
	@extend %button-basic;
	background: $fontColor;

	&:hover {
		background-color: #424242;
	}
}

// 載入更多按鈕
.LoadMoreButton {
	padding: 0.35rem 0.75rem;
	color: white;
	border-radius: 50px;
	background: $themeColor;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	&:hover {
		//background: $activeColor;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.LoadMoreButton-text {
		margin-right: 0.25rem;
	}
}

// 錯誤碼元件
.ErrorMessage {
	font-size: 90%;
	color: red;
	font-weight: 800;
}

// 開啟彈出視窗時，防止後方頁面滾動
.stopScroll {
	overflow: hidden;
}

// 重點字體 改變顏色
.heighLight-text {
	color: $activeColor;
}

// 共用元件
// @import "./Navbar";
@import "./Navbar2";
@import "./OptionBar";
@import "./CourseCard1";
@import "./Coupons";
@import "./DefaultStudentCard";
@import "./StarGroup";
@import "./ShareCard";
@import "./CourseMiniCard";
@import "./ChefCard";
@import "./Breadcrumb";
@import "./CreditCards";
@import "./CourseMiniCardSlider";
@import "./Footer";

// 三種不一樣的萬年曆
@import "./Calendar"; // 一般日曆
@import "./CalendarAvailable"; // 可顯同時顯示多日期
@import "./CalendarMulti"; // 可多選

// Navbar相關
@import "./Navbar/CartCourse";

// Homepage相關
@import "./homepage/HomePage";
@import "./homepage/ChefCardSlider";
@import "./ChefCard";

// member相關
$header-border: 3px solid $activeColor; // title的左border
@import "./member/Login";
@import "./member/MemberCenter";
@import "./member/MemberSidebar";
@import "./member/MemberInfo";
@import "./member/DefaultStudent";
@import "./member/OrderInfo";
@import "./member/OrderCard";
@import "./member/CollectionCourse";
@import "./member/CollectionCoupons";
@import "./member/DefaultStudentCard2";
@import "./member/CollectionArticle";
@import "./member/CourseInsert";
@import "./member/ReviewButton";
@import "./member/CourseReview";
@import "./member/ChefIntro";
@import "./member/ChefCard2";

// masonry相關
@import "./massonry/massonry";
// forum 相關
@import "./forum/forum";
@import "./forum/forumcard";

// 課程分類
@import "./course/Course";
@import "./course/CourseCard_Course";
@import "./course/StarGroup_Course";

// 課程詳細
@import "./CourseDetail/_CourseDetailed";
@import "./CourseDetail/CourseStar";
@import "./CourseDetail/CourseHeaderPicture";
@import "./CourseDetail/CourseRecommend";
@import "./CourseDetail//CourseDecorate";
@import "./CourseDetail/CourseCommit";

// 主廚
@import "./chef/chef";

// shoppingcart-shoppingcart
@import "./shoppingCart/shoppingCart/ShoppingCart";
@import "./shoppingCart/shoppingCart/CourseList";
@import "./shoppingCart/shoppingCart/CourstDetail";

// shoppingcart-shoppinglist
@import "./shoppingCart/shoppingList/ShoppingList";
@import "./shoppingCart/shoppingList/ShoppingBill";

//PamentWayMethod
@import "./shoppingCart/pamentMethod/PamentMethod";
@import "./shoppingCart/pamentMethod/PamentWay";
@import "./shoppingCart/pamentMethod/Receipt";
//關於我們
@import "./about/about";

//聯絡我們
@import "./contactus/contactus";

// RWD
@media screen and (max-width: 1200px) {
	// Navbar
	.Navbar {
		.Navbar-container {
			width: 90%;
		}
	}

	// Navbar2
	.Header {
		.Navbar {
			.Navbar-container {
				width: 90%;
			}
		}
	}
	.Navbar-dropdowns {
		.Navbar-dropdowns-container {
			width: 90%;
		}
	}
	.Navbar-CourseSearch {
		.Navbar-CourseSearch-container {
			width: 90%;
		}
	}

	.MemberCenter {
		.MemberCenter-container {
			width: 90%;
		}
	}

	.MemberInfo-container-row {
		width: 100% !important;
	}

	.CourseDetail-headerPicture {
		width: 90%;

		// ian 移除（確保圖片不壓縮）
		// img {
		//   height: 35vw;
		// }
	}
	.Coursedetail {
		/* 三圖片大框 */
		.Coursedetail-header {
			width: 90%;
			height: 35vw;
		}
	}
	.Coursedetail-set {
		.Coursedetail-container {
			width: 90%;
		}
	}
	.chef-set {
		width: 90%;
	}
	.CourseDecorate_RWD1 {
		width: 22%;
	}
	.CourseDecorate_RWD2 {
		width: 35%;
		top: 22vw;
	}
	.CourseDecorate_RWD5 {
		width: 30%;
	}
	.CourseDecorate_RWD6 {
		margin-top: 10vw;
	}
	.CourseDecorate_RWDEx {
		width: 30%;
		top: 14vw;
		right: -5vw;
	}
}
