* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  vertical-align: baseline;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: #ffb257;
}

.button-themeColor {
  padding: 0.35rem 0.75rem;
  background: #d8a466;
  color: white;
  border-radius: 5px;
}

.button-themeColor:hover {
  background-color: #ffb257;
}

.button-themeColorBlue {
  padding: 0.35rem 0.75rem;
  background: #0078b3;
  color: white;
  border-radius: 5px;
}

.button-themeColorBlue:hover {
  background-color: #006ca1;
}

.button-highLeveColor {
  padding: 0.35rem 0.75rem;
  background: #eb6b6a;
  color: white;
  border-radius: 5px;
}

.button-highLeveColor:hover {
  background-color: #cc5a5a;
}

.button-activeColor {
  padding: 0.35rem 0.75rem;
  background: #ffb257;
  color: white;
  border-radius: 5px;
}

.button-activeColor:hover {
  background-color: #ffb257;
}

.button-darkColor {
  padding: 0.35rem 0.75rem;
  background: #666666;
  color: white;
  border-radius: 5px;
}

.button-darkColor:hover {
  background-color: #424242;
}

.Navbar {
  background: #d8a466;
  color: white;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 110%;
}

.Navbar .Navbar-container {
  width: 70vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .Navbar-container .Navbar-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .UmaiLogo {
  width: 85px;
  padding: 0.25rem 0;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: white;
  margin: 0 0.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 .Navbar-container-item-btn2-cart {
  fill: #d8a466;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 .Navbar-container-item-btn2-avatar {
  position: relative;
  width: 100%;
  height: 100%;
}

.OptionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0.5rem;
}

.OptionBar .OptionBar-ul {
  width: 65%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.OptionBar .OptionBar-ul .OptionBar-ul-li {
  padding: 0.4rem 1rem;
  border-radius: 100px;
  color: #0078b3;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: 900;
}

.OptionBar .OptionBar-ul .OptionBar-ul-li-active {
  background: linear-gradient(45deg, #ffb257, #d8a466);
  color: white;
}

.OrderCard .OrderCard-container {
  max-width: 900px;
  border-bottom: 1px solid #d8a466;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-size: 90%;
  padding: 0.5rem 0;
}

.OrderCard .OrderCard-container:hover {
  background: #eee;
}

.OrderCard .OrderCard-container .OrderCard-image-con {
  width: 18%;
  max-height: 80px;
  position: relative;
  overflow: hidden;
}

.OrderCard .OrderCard-container .OrderCard-image-con .OrderCard-image {
  width: 100%;
}

.OrderCard .OrderCard-container .OrderCard-courseTitle {
  width: 30%;
}

.OrderCard .OrderCard-container .OrderCard-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OrderCard .OrderCard-container .OrderCard-mamberCount {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.OrderCard .OrderCard-detail {
  width: 100%;
  max-width: 900px;
  background: #f3f3f3;
  border-bottom: 1px solid #d8a466;
  padding: 0.5rem;
  -webkit-animation: OrderCard-scaleUp 1s forwards;
          animation: OrderCard-scaleUp 1s forwards;
}

.OrderCard .OrderCard-detail .OrderCard-detail-title {
  border-bottom: 1px solid #666666;
}

.OrderCard .OrderCard-detail .OrderCard-detail-title .hrderCard-detail-title-h3 {
  padding: 0.5rem 0;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container-item,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container-item .OrderCard-detail-container-item-title,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container-item .OrderCard-detail-container-item-title {
  margin-bottom: 0.25rem;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container-item .OrderCard-detail-container-item-content,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container-item .OrderCard-detail-container-item-content {
  font-size: 90%;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-left,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-left .OrderCard-detail-container2-left-textarea,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-left .OrderCard-detail-container2-left-textarea {
  resize: none;
  width: 100%;
  font-size: 1rem;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 250px;
          flex: 5 1 250px;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1rem;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star:hover,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star:hover {
  background: url(../icons/star-solid.svg) no-repeat;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star svg,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-star svg {
  width: 100%;
  height: 100%;
  fill: #ffb257;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-starActive,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-stars .OrderCard-detail-container2-right-starActive {
  background: url(../icons/star-solid.svg) no-repeat;
}

.OrderCard .OrderCard-detail .OrderCard-detail-container .OrderCard-detail-container2-right .OrderCard-detail-container2-right-buttonCon,
.OrderCard .OrderCard-detail .OrderCard-detail-container2 .OrderCard-detail-container2-right .OrderCard-detail-container2-right-buttonCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes OrderCard-scaleUp {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 450px;
  }
}

@keyframes OrderCard-scaleUp {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 450px;
  }
}

.CourseCard1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  min-height: 200px;
  background: white;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1rem 0;
}

.CourseCard1 .CourseCard1-imageCon {
  height: 100%;
  width: 38%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}

.CourseCard1 .CourseCard1-imageCon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.CourseCard1 .CourseCard1-imageCon .CourseCard1-imageCon-banner {
  position: absolute;
  background: #ffb257;
  color: white;
  padding: 0.25rem 1rem;
  z-index: 3;
  width: 150px;
  top: 15px;
  right: -45px;
  text-align: center;
  font-weight: 700;
  font-size: 90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.CourseCard1 .CourseCard1-detailCon {
  padding: 1rem;
  font-size: 95%;
  width: 60%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-top-right-radius: 60px 130px;
  border-bottom-right-radius: 60px 130px;
  z-index: 3;
  background: white;
  position: relative;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-h4 {
  font-weight: 900;
  font-size: 1.25rem;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-company svg {
  fill: #ffb257;
  font-size: 1.15rem;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-courseTime {
  margin-top: 0.25rem;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-MemberCount {
  font-size: 80%;
  margin-top: 0.25rem;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-MemberCount .CourseCard1-detailCon-MemberCount-progressCon {
  width: 130px;
  height: 6px;
  border-radius: 5px;
  border: 1px solid #ffb257;
  position: relative;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-MemberCount .CourseCard1-detailCon-MemberCount-progressCon .CourseCard1-detailCon-MemberCount-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffb257;
  border: 1px solid #ffb257;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .CourseCard1-detailCon-bottom-courseLevel {
  display: block;
  color: white;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 80%;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .highLevel {
  background: #eb6b6a;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .midLevel {
  background: #5f9e72;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .lowLevel {
  background: #5eb2eb;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .CourseCard1-detailCon-bottom-coursePrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .CourseCard1-detailCon-bottom-coursePrice .CourseCard1-detailCon-bottom-coursePrice-origin {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
  margin-bottom: -8px;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-bottom .CourseCard1-detailCon-bottom-coursePrice .CourseCard1-detailCon-bottom-coursePrice-discount {
  font-size: 1.5rem;
  font-weight: 900;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-likeBtn {
  position: absolute;
  z-index: 6;
  right: -7px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-likeBtn:hover svg {
  background: url(../icons/heart-solid.svg) center center no-repeat;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-likeBtn svg {
  fill: #eb6b6a;
  width: 75%;
  height: 75%;
}

.CourseCard1 .CourseCard1-detailCon .CourseCard1-detailCon-likeBtn-active svg {
  background: url(../icons/heart-solid.svg) center center no-repeat;
}

.CourseCard1 .CourseCard1-buttonCon {
  width: 30%;
  height: 100%;
  background: #5d5548;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.CourseCard1 .CourseCard1-buttonCon .CourseCard1-buttonCon-btn {
  margin: 0.5rem 1.3rem;
  position: relative;
  width: 88px;
  text-align: center;
  font-size: 80%;
}

.CourseCard1:hover .CourseCard1-imageCon {
  width: 34%;
}

.CourseCard1:hover .CourseCard1-detailCon {
  width: 47%;
}

.Coupons {
  width: 200px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.Coupons:hover {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.Coupons .Coupons-imageCon {
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: relative;
}

.Coupons .Coupons-imageCon .Coupons-imageCon-img {
  height: 100%;
  width: 100%;
}

.Coupons .Coupons-imageCon .Coupons-imageCon-banner {
  position: absolute;
  background: #ffb257;
  color: white;
  padding: 0.25rem 1rem;
  z-index: 3;
  width: 150px;
  top: 15px;
  right: -45px;
  text-align: center;
  font-weight: 700;
  font-size: 90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.Coupons .Coupons-imageCon .Coupons-imageCon-banner:hover {
  -webkit-transform: scale(1.1) rotate(45deg);
          transform: scale(1.1) rotate(45deg);
}

.Coupons .Coupons-imageCon .Coupons-imageCon-banner a {
  color: white;
}

.Coupons .Coupons-textCon {
  height: 60%;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Coupons .Coupons-textCon .Coupons-textCon-title {
  font-size: 1.15rem;
}

.Coupons .Coupons-textCon .Coupons-textCon-bottom {
  font-size: 85%;
}

.Coupons .Coupons-textCon .Coupons-textCon-bottom .Coupons-textCon-bottom-title {
  font-weight: 900;
}

.Coupons .Coupons-textCon .Coupons-textCon-bottom .Coupons-textCon-bottom-expireDate {
  color: #d8a466;
}

.Coupons-disabled {
  cursor: not-allowed;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  background: rgba(0, 0, 0, 0.5);
}

.DefaultStudentCard {
  width: 80%;
  max-width: 900px;
  position: relative;
  margin: 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.DefaultStudentCard .DefaultStudentCard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #eeeeee;
  padding: 0.75rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 5px rgba(32, 26, 26, 0.3);
          box-shadow: 2px 2px 5px rgba(32, 26, 26, 0.3);
}

.DefaultStudentCard .DefaultStudentCard-title .DefaultStudentCard-title-left {
  font-weight: 900;
  font-size: 110%;
  color: #d8a466;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.DefaultStudentCard .DefaultStudentCard-title .DefaultStudentCard-title-left svg {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.DefaultStudentCard .DefaultStudentCard-title .DefaultStudentCard-title-right {
  font-size: 1rem;
}

.DefaultStudentCard .DefaultStudentCard-title .DefaultStudentCard-title-right .DefaultStudentCard-title-right-select {
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #666666;
}

.DefaultStudentCard .DefaultStudentCard-title .DefaultStudentCard-title-right .DefaultStudentCard-title-right-btn {
  padding: 0.25rem 0.75rem;
  font-size: 90%;
  margin-left: 0.5rem;
}

.DefaultStudentCard .DefaultStudentCard-main {
  max-height: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  opacity: 0;
  overflow: hidden;
}

.DefaultStudentCard .DefaultStudentCard-main .DefaultStudentCard-main-row {
  display: none;
}

.DefaultStudentCard-active .DefaultStudentCard-title {
  border-radius: 15px 15px 0 0;
  -webkit-box-shadow: 2px 1px 5px rgba(32, 26, 26, 0.3);
          box-shadow: 2px 1px 5px rgba(32, 26, 26, 0.3);
}

.DefaultStudentCard-active .DefaultStudentCard-title .DefaultStudentCard-title-left svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.DefaultStudentCard-active .DefaultStudentCard-main {
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 1rem 2rem;
  max-height: 500px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  opacity: 1;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-item .DefaultStudentCard-main-row-item-label {
  cursor: pointer;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-item .DefaultStudentCard-main-row-item-input {
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.15rem 0.35rem;
  font-size: 1.1rem;
  width: 100%;
  margin-top: 0.25rem;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-itemEmail {
  width: 100%;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-item-checkbox {
  display: inline-block;
  background-color: #aaa;
  padding: 3px 6px;
  border: 1px solid gray;
  color: #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DefaultStudentCard-active .DefaultStudentCard-main .DefaultStudentCard-main-row .DefaultStudentCard-main-row-item-checkbox:checked {
  color: yellow;
  background-color: #0078b3;
}

@-webkit-keyframes DefaultStudentCard-scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes DefaultStudentCard-scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.StarGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.15rem;
}

.StarGroup p {
  font-size: 0.7rem;
}

.StarGroup .StarGroup-container {
  max-width: 80px;
  position: relative;
  height: 17px;
  overflow: hidden;
}

.StarGroup .StarGroup-container .StarGroup-container-star {
  z-index: 2;
  width: 101%;
  height: 100%;
}

.StarGroup .StarGroup-container .StarGroup-container-background {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: -1;
}

.MemberCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MemberCenter .MemberCenter-container {
  width: 70vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MemberSidebar {
  height: calc(100vh - 50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.MemberSidebar .MemberSidebar-container {
  height: 95%;
  width: 100%;
  overflow: scroll;
  padding: 1rem 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0.5rem 0;
  position: relative;
  cursor: pointer;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar .MemberSidebar-container-avatar-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar .MemberSidebar-container-avatar-pen {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  fill: white;
  opacity: 0;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar:hover .MemberSidebar-container-avatar-img {
  opacity: 0.5;
  -webkit-filter: brightness(0.5);
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar:hover .MemberSidebar-container-avatar-pen {
  opacity: 1;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-mamberName {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul {
  list-style: none;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li {
  padding: 0.5rem 0;
  font-size: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li .MemberSidebar-container-ul-li-text {
  margin-left: 0.25rem;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li:hover {
  color: #ffb257;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li-active {
  color: #ffb257;
}

.MemberInfo {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.MemberInfo .MemberInfo-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.MemberInfo .MemberInfo-container .MemberInfo-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-header h1 {
  font-weight: 100;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards {
  width: 100%;
  position: relative;
  margin: 0 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  font-size: 1.15rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-input {
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.15rem 0.35rem;
  margin-top: 0.25rem;
  font-size: 1.1rem;
  width: 100%;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-ccardCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-ccardCon .MemberInfo-container-inputCon-input {
  margin-right: 0.25rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-passwordCon {
  max-width: 0px;
  max-height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 90%;
  overflow: hidden;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-passwordCon-active {
  max-width: calc(50% - 1rem);
  max-height: 95px;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordEditBtn,
.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordSubmitBtn {
  border-radius: 5px;
  padding: 0.15rem 0.35rem;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #666666;
  margin-left: -10px;
  margin-right: 20px;
  font-size: 90%;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordEditBtn:hover,
.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordSubmitBtn:hover {
  color: black;
  border: 1px solid black;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordSubmitBtn {
  display: none;
  color: #eb6b6a;
  border: 1px solid #eb6b6a;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-cards .MemberInfo-container-row .MemberInfo-container-inputCon-passwordSubmitBtn-active {
  display: block;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-buttonCon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 0;
}

.DefaultStudent {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.DefaultStudent .DefaultStudent-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.DefaultStudent .DefaultStudent-container .DefaultStudent-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.DefaultStudent .DefaultStudent-container .DefaultStudent-container-header h1 {
  font-weight: 100;
}

.DefaultStudent .DefaultStudent-container .DefaultStudent-container-cards {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

.OrderInfo {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.OrderInfo .OrderInfo-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.OrderInfo .OrderInfo-container .OrderInfo-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-header h1 {
  font-weight: 100;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-tableHead {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 0;
  margin: 1rem 0;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-tableHead .OrderInfo-container-tableHead-item1 {
  width: 48%;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-tableBody {
  margin: 0 0 1rem 0;
  overflow: scroll;
}

.CollectionCourse {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.CollectionCourse .CollectionCourse-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.CollectionCourse .CollectionCourse-container .CollectionCourse-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.CollectionCourse .CollectionCourse-container .CollectionCourse-container-header h1 {
  font-weight: 100;
}

.CollectionCourse .CollectionCourse-container .CollectionCourse-container-cards {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.CollectionCoupons {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.CollectionCoupons .CollectionCoupons-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.CollectionCoupons .CollectionCoupons-container .CollectionCoupons-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.CollectionCoupons .CollectionCoupons-container .CollectionCoupons-container-header h1 {
  font-weight: 100;
}

.CollectionCoupons .CollectionCoupons-container .CollectionCoupons-container-cards {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

.DefaultStudentCard2 {
  width: 80%;
  max-width: 900px;
  position: relative;
  margin: 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.DefaultStudentCard2 .DefaultStudentCard2-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px 15px 0 0;
  background: #d8a466;
  padding: 0.75rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 2;
  -webkit-box-shadow: 2px 1px 5px rgba(32, 26, 26, 0.3);
          box-shadow: 2px 1px 5px rgba(32, 26, 26, 0.3);
}

.DefaultStudentCard2 .DefaultStudentCard2-title .DefaultStudentCard2-title-left {
  font-weight: 900;
  font-size: 110%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DefaultStudentCard2 .DefaultStudentCard2-title .DefaultStudentCard2-title-left svg {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.DefaultStudentCard2 .DefaultStudentCard2-title .DefaultStudentCard2-title-right {
  font-size: 1rem;
}

.DefaultStudentCard2 .DefaultStudentCard2-title .DefaultStudentCard2-title-right .DefaultStudentCard2-title-right-select {
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #666666;
}

.DefaultStudentCard2 .DefaultStudentCard2-title .DefaultStudentCard2-title-right .DefaultStudentCard2-title-right-btn {
  padding: 0.25rem 0.75rem;
  font-size: 90%;
  margin-left: 0.5rem;
}

.DefaultStudentCard2 .DefaultStudentCard2-main {
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 1rem 2rem;
  max-height: 500px;
}

.DefaultStudentCard2 .DefaultStudentCard2-main .DefaultStudentCard2-main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DefaultStudentCard2 .DefaultStudentCard2-main .DefaultStudentCard2-main-row .DefaultStudentCard2-main-row-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.DefaultStudentCard2 .DefaultStudentCard2-main .DefaultStudentCard2-main-row .DefaultStudentCard2-main-row-item .DefaultStudentCard2-main-row-item-label {
  cursor: pointer;
}

.DefaultStudentCard2 .DefaultStudentCard2-main .DefaultStudentCard2-main-row .DefaultStudentCard2-main-row-item .DefaultStudentCard2-main-row-item-input {
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.15rem 0.35rem;
  font-size: 1.1rem;
  width: 100%;
  margin-top: 0.25rem;
}

.DefaultStudentCard2 .DefaultStudentCard2-main .DefaultStudentCard2-main-row .DefaultStudentCard2-main-row-item .DefaultStudentCard2-main-row-item-email {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Navbar .Navbar-container {
    width: 90%;
  }
  .MemberCenter .MemberCenter-container {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */