$themeColor: #d8a466;
$themeColorBlue: #0078b3;
$activeColor: #ffb257;
$fontColor: #666666;
$facebookBlue: rgb(66, 103, 178);

// courseCard1用的變數
$cardDarkColor: #5d5548;
$highLevelColor: #eb6b6a;
$midLevelColor: #5f9e72;
$lowLevelColor: #5eb2eb;

// DefaultStudentCard 用
$titleBackgroundColor: #eeeeee;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: -moz-hidden-unscrollable; /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
  height: 100%;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  color: $fontColor;

  // //將scrollbar移除
  -ms-overflow-style: none;
  //width: calc(100vw + 18px); /*瀏覽器滾動條的長度大約是 18px*/
  overflow: auto;
}

// 設定scrollbar樣式
/* width */
::-webkit-scrollbar {
  //width: 5px;
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  //background: $themeColor;
  border-radius: 3px;
  opacity: 0;
}
/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $activeColor;
//   opacity: 1;
// }

// 覆蓋bootstrap樣式
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  vertical-align: baseline;
}

// 移除所有button樣式
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input,
textarea,
select {
  color: $fontColor;
  outline: none;
  border: 1px solid $fontColor;
  padding: 0.25rem 0.45rem;
  font-size: 1rem;
  border-radius: 5px;
}
input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: $fontColor;
  &:hover {
    color: $activeColor;
  }
}

// 各個按鍵component的樣式
%button-basic {
  padding: 0.35rem 0.75rem;
  color: white;
  border-radius: 5px;
}

.button-themeColor {
  @extend %button-basic;
  background: $themeColor;

  &:hover {
    background-color: $activeColor;
  }
}
.button-themeColorBlue {
  @extend %button-basic;
  background: $themeColorBlue;

  &:hover {
    background-color: #006ca1;
  }
}
.button-highLeveColor {
  @extend %button-basic;
  background: $highLevelColor;

  &:hover {
    background-color: #cc5a5a;
  }
}
.button-activeColor {
  @extend %button-basic;
  background: $activeColor;

  &:hover {
    background-color: $activeColor;
  }
}
.button-darkColor {
  @extend %button-basic;
  background: $fontColor;

  &:hover {
    background-color: #424242;
  }
}

// 錯誤碼元件
.ErrorMessage {
  font-size: 90%;
  color: red;
  font-weight: 800;
}

// 開啟彈出視窗時，防止後方頁面滾動
.stopScroll {
  overflow: hidden;
}

// 共用元件
@import "./Navber";
@import "./OptionBar";
@import "./CourseCard1";
@import "./Coupons";
@import "./DefaultStudentCard";
@import "./StarGroup";
@import "./ShareCard";
@import "./CourseMiniCard";
@import "./ChefCard";
@import "./Breadcrumb";
@import "./CreditCards";

// 三種不一樣的萬年曆
@import "./Calendar"; // 一般日曆
@import "./CalendarAvailable"; // 可顯同時顯示多日期
@import "./CalendarMulti"; // 可多選

// member相關
@import "./member/Login";
@import "./member/MemberCenter";
@import "./member/MemberSidebar";
@import "./member/MemberInfo";
@import "./member/DefaultStudent";
@import "./member/OrderInfo";
@import "./member/OrderCard";
@import "./member/CollectionCourse";
@import "./member/CollectionCoupons";
@import "./member/DefaultStudentCard2";
@import "./member/CollectionArticle";
@import "./member/CourseInsert";
@import "./member/ReviewButton";
@import "./member/CourseReview";

// masonry相關
@import "./massonry/massonry";
// forum 相關
@import "./forum/forum";
@import "./forum/forumcard";

// 課程分類
@import "./course/Course";
@import "./course/CourseCard_Course";
@import "./course/StarGroup_Course";

// 課程詳細
@import "./CourseDetail/_CourseDetailed";
@import "./CourseDetail/CourseStar";
@import "./CourseDetail/CourseHeaderPicture";
@import "./CourseDetail/CourseRecommend";

// RWD
@media screen and (max-width: 1200px) {
  .Navbar {
    .Navbar-container {
      width: 90%;
    }
  }

  .MemberCenter {
    .MemberCenter-container {
      width: 90%;
    }
  }
  .CourseDetail-headerPicture {
    width: 90%;
    img {
      height: 35vw;
    }
  }
  .Coursedetail {
    /* 三圖片大框 */
    .Coursedetail-header {
      width: 90%;
      height: 35vw;
    }
  }
  .Coursedetail-set {
    .Coursedetail-container {
      width: 90%;
    }
  }
}
