$themeColor: #d8a466;
$themeColorBlue: #3f7289;
$activeColor: #ffb257;
$fontColor: #666666;
$highLevelColor: #eb6b6a;
$cardDarkColor: #5d5548;
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: $fontColor;
}

a {
  text-decoration: none;
  color: $fontColor;
  &:hover {
    color: $activeColor;
  }
}

ul,
ol {
  list-style: none;
}

// 移除所有button樣式
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// 各個按鍵component的樣式
.button-themeColor {
  padding: 0.35rem 0.75rem;
  background: $themeColor;
  color: white;
  border-radius: 5px;

  &:hover {
    background-color: $activeColor;
  }
}
.button-activeColor {
  padding: 0.35rem 0.75rem;
  background: $activeColor;
  color: white;
  border-radius: 5px;

  &:hover {
    background-color: $activeColor;
  }
}

// 共用元件
@import "./Navber";
@import "./OptionBar";
@import "./OrderCard";
@import "./CourseCard1";

// member相關
@import "./mamber/MemberCenter";
@import "./mamber/MemberSidebar";
@import "./mamber/MemberInfo";
@import "./mamber/OrderInfo";
@import "./mamber/CollectionCourse";
