* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #666666;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Navbar {
  background: #d8a466;
  color: white;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container {
  width: 70vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .Navbar-container .Navbar-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .UmaiLogo {
  width: 85px;
  padding: 0.25rem 0;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: white;
  margin: 0 0.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 .Navbar-container-item-btn2-cart {
  fill: #d8a466;
}

.Navbar .Navbar-container .Navbar-container-item .Navbar-container-item-btn2 .Navbar-container-item-btn2-avatar {
  position: relative;
  width: 100%;
  height: 100%;
}

.OptionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem 0.5rem;
}

.OptionBar .OptionBar-ul {
  width: 65%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.OptionBar .OptionBar-ul .OptionBar-ul-li {
  padding: 0.4rem 1rem;
  border-radius: 100px;
  color: #3f7289;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: 900;
}

.OptionBar .OptionBar-ul .OptionBar-ul-li-active {
  background: linear-gradient(45deg, #ffb257, #d8a466);
  color: white;
}

.OrderCard {
  max-width: 900px;
  border-bottom: 1px solid #d8a466;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-size: 90%;
  margin-top: 0.5rem;
  padding: 0.25rem 0;
}

.OrderCard .OrderCard-image-con {
  width: 18%;
  max-height: 80px;
  position: relative;
  overflow: hidden;
}

.OrderCard .OrderCard-image-con .OrderCard-image {
  width: 100%;
}

.OrderCard .OrderCard-courseTitle {
  width: 30%;
}

.OrderCard .OrderCard-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OrderCard .OrderCard-mamberCount {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.MemberCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MemberCenter .MemberCenter-container {
  width: 70vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MemberSidebar {
  height: calc(100vh - 50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MemberSidebar .MemberSidebar-container {
  height: 95%;
  width: 200px;
  padding: 1rem 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5rem 0;
  position: relative;
  cursor: pointer;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar .MemberSidebar-container-avatar-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar .MemberSidebar-container-avatar-pen {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  fill: white;
  opacity: 0;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar:hover .MemberSidebar-container-avatar-img {
  opacity: 0.5;
  -webkit-filter: brightness(0.5);
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-avatar:hover .MemberSidebar-container-avatar-pen {
  opacity: 1;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-mamberName {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul {
  list-style: none;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li {
  padding: 0.5rem 0;
  font-size: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li .MemberSidebar-container-ul-li-text {
  margin-left: 0.25rem;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li:hover {
  color: #ffb257;
}

.MemberSidebar .MemberSidebar-container .MemberSidebar-container-ul .MemberSidebar-container-ul-li-active {
  color: #ffb257;
}

.MemberInfo {
  height: calc(100vh - 50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.MemberInfo .MemberInfo-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.MemberInfo .MemberInfo-container .MemberInfo-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-header h1 {
  font-weight: 100;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-row .MemberInfo-container-inputCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  font-size: 1.15rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-input {
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.15rem 0.35rem;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-ccardInput {
  width: 200px;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-row .MemberInfo-container-inputCon .MemberInfo-container-inputCon-ccardCon input {
  width: 100px;
  margin-left: 0.25rem;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-buttonCon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 0;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-buttonCon .MemberInfo-container-buttonCon-btn {
  padding: 0.35rem 0.75rem;
  background: #d8a466;
  color: white;
  border-radius: 5px;
}

.MemberInfo .MemberInfo-container .MemberInfo-container-buttonCon .MemberInfo-container-buttonCon-btn:hover {
  background-color: #ffb257;
}

.OrderInfo {
  height: calc(100vh - 50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.OrderInfo .OrderInfo-container {
  height: 95%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.OrderInfo .OrderInfo-container .OrderInfo-container-header {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #ffb257;
  width: 100%;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-header h1 {
  font-weight: 100;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-tableHead {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 0;
  margin: 1rem 0;
}

.OrderInfo .OrderInfo-container .OrderInfo-container-tableHead .OrderInfo-container-tableHead-item1 {
  width: 48%;
}

:root {
  --main-color: #d9a365;
  --main-color-hover: #f6931e;
  --gray-color: #aaa;
  --radius: 4px;
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-unstyled .wrapper {
  margin-left: auto;
  margin-right: auto;
}

.main-block {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block hr {
  background: var(--main-color);
  height: 5px;
  border: 0px;
}

main {
  width: 65%;
  margin: 0 40px;
}

main div:last-child {
  text-align: center;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.title h2 {
  font-weight: 500;
}

.title h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  font-weight: 400;
}

.fas {
  size: 7x;
}

.avatar {
  --avatar-width: 250px;
  background: #fdfdfd;
  width: var(--avatar-width);
  height: 350px;
  margin: 30px 0 0 0;
  min-width: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.avatar main {
  width: 100%;
  margin: 10px;
}

.avatar h2 {
  line-height: 40px;
}

.avatar hr {
  background: var(--main-color);
  height: 2px;
  border: 0px;
}

.avatar button {
  background: var(--main-color-hover);
  border: 0;
  height: 40px;
  width: 150px;
  margin-top: 5px;
  border-radius: 10px;
}

.avatar button h5 {
  color: #f3f3f1;
  margin: 0;
  font-weight: 400;
}

.list {
  width: 100%;
}

.list .list-title {
  background: #f3f3f1;
}

.list .list-title h2 {
  font-weight: 500;
}

.list .list {
  border-spacing: 0;
}

.list .list tr:first-child {
  text-align: left;
}

.list-item td {
  background: #fdfdfd;
  height: 150px;
  margin: 0;
  padding: 0;
  color: #888888;
  border-width: 0px;
}

.list-item td:nth-child(1) {
  width: 30%;
}

.list-item td:nth-child(2) {
  width: 25%;
}

.list-item td:nth-child(3) {
  width: 18%;
}

.list-tool {
  background: #e6e6e6;
}

.list-tool a {
  color: #1f4557;
}

.list-tool:nth-child(3) td:nth-child(5) {
  font-size: 20px;
}

.list-tool:nth-child(3) td:nth-child(5) button {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.list-tool:nth-child(3) td:nth-child(5) button:hover {
  border-bottom: 1px solid var(--main-color-hover);
}

.Consumer-details {
  width: 100%;
}

.Consumer-details h4 {
  margin: 5px 0;
  font-weight: 500;
}

.Consumer-details tr td:nth-of-type(2) {
  text-align: right;
}

.Consumer-details select {
  max-width: 80px;
}

.Insert-data {
  width: 90%;
  margin: 0 auto;
}

.Insert-data tr {
  height: 40px;
}

.Insert-data td {
  width: 50%;
}

.Insert-data .Order-of-otudent h3 {
  text-align: left;
  margin: auto;
}

.Insert-data .Import-student-data {
  text-align: right;
}

.Insert-data .Import-student-data a {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--main-color-hover);
  color: black;
}

.Insert-data .Box {
  text-align: left;
  width: 90%;
  margin: auto;
}

.Insert-data .Box h5 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}

.Insert-data .Box input {
  width: 100%;
  border: 1px solid var(--main-color-hover);
  height: 30px;
}

.Insert-data .Update-to-student {
  vertical-align: bottom;
}

.Insert-data .Update-to-student h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */