:root {
  --main-color: #d9a365;
  --main-color-hover: #f6931e;
  --gray-color: #aaa;
  --radius: 4px;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  background: #f3f3f1;
  margin: 0;
}
.wrapper {
  width: 70%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
.main-block {
  margin: 10px auto;
  display: flex;
}
main {
  margin: 0 40px;
}
.title {
  display: inline-flex;
  h2 {
    font-weight: 500;
  }
  h4 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-weight: 400;
  }
}
.list-title h2 {
  font-weight: 500;
}
table th,
td {
  width: 200px;
}
table th:first-child,
td:first-child {
  width: 250px;
}
.list-title {
  background: #f3f3f1;
}
.list {
  border-spacing: 0;
  tr:first-child {
    text-align: left;
  }
}
.main-block hr {
  background: var(--main-color);
  height: 5px;
  border: 0px;
}
.list-item td {
  background: #fdfdfd;
  height: 150px;
  margin: 0;
  padding: 0;
  color: #888888;
  border-width: 0px;
}
.list-tool {
  background: #e6e6e6;
  a {
    color: #1f4557;
  }
}
.avatar {
  --avatar-width: 200px;
  background: #fdfdfd;
  width: var(--avatar-width);
  margin: 30px 0 0 0;
  min-width: 200px;
  display: inline-flex;
  main {
    margin: 10px;
  }
  h2 {
    line-height: 40px;
  }
  hr {
    background: var(--main-color);
    height: 2px;
    border: 0px;
  }
}
.Consumer-details {
  h4 {
    margin: 5px 0;
    font-weight: 500;
  }
  tr td:nth-of-type(2) {
    text-align: right;
  }
  select {
    max-width: 80px;
  }
}
main div:last-child {
  text-align: center;
}
.avatar {
  button {
    background: var(--main-color-hover);
    border: 0;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    border-radius: 10px;
    h5 {
        color: #f3f3f1;
        margin: 0;
        font-weight: 400;
      }
  }
}
