.CourseList-title {
  h1 {
    margin-right: 5px;
    display: inline-flex;
    color: var(--main-color);
    font-weight: 600;
  }
}
.CourseList-list {
  width: 100%;
  border-spacing: 0;
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  
  tr {
    &:first-child {
      text-align: left;
      td {
        &:first-child {
          border-top-left-radius: 20px;
        }
        &:last-child {
          border-top-right-radius: 20px;
        }
      }
    }
    &:nth-child(2) {
      td {
        &:first-child {
          border-bottom-left-radius: 20px;
        }
        &:last-child {
          border-bottom-right-radius: 20px;
        }
      }
    }
  }
}
.CourseList-list-title {
  width: 100%;
  margin: 20px 0;
  h2 {
    font-weight: 500;
    font-size: 25px;
  }
  th {
    text-align: center;
    &:nth-child(1) {
      text-align: left;
      width: 30%;
      h2 {
        margin-left: 48px;
      }
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 17%;
    }
    &:nth-child(4) {
      width: 13%;
    }
    &:nth-child(5) {
      width: 15%;
    }
  }
}
.CourseList-list-item {
  td {
    background: #fdfdfd;
    height: 150px;
    margin: 0;
    padding: 0;
    color: #888888;
    border-width: 0px;
    text-align: center;
    &:nth-child(1) {
      text-align: left;
      width: 30%;
    }
    &:nth-child(2) {
      text-align: left;
      width: 25%;
      h4{
        margin-bottom: 5px;
      }
    }
    &:nth-child(3) {
      width: 17%;
    }
    &:nth-child(4) {
      width: 13%;
    }
    &:nth-child(5) {
      width: 15%;
    }
  }
}
.CourseList-list-tool {
  background: #eeeeee;
  td {
    font-size: 18px;
    text-align: right;
    padding-right: 20px;
    button {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      color: #1f4557;
      margin: 3px 5px;
      &:hover {
        border-bottom: 1px solid var(--main-color);
      }
    }
  }
}
.Insert-area {
  .Cardarea {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    transition: 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    max-height: 0;
    position: relative;
    bottom: 0;
    .Orderer-info {
      width: 90%;
      margin: 15px auto;
      h4 {
        margin-bottom: 20px;
      }
      td {
        padding: 0 30px;
      }
      input {
        border-radius: 5px;
        border: 1px solid $fontColor;
        padding: 0.15rem 0.35rem;
        font-size: 1.1rem;
        width: 100%;
        margin-top: 0.25rem;
      }
    }
    .Insert-area-title {
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      button {
        width: 110px;
        height: 32px;
        font-weight: 800;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        color: var(--main-color);
      }
    }
    .DefaultStudentCard {
      width: 100%;
      margin: 20px auto;
    }
  }
}
.Showarea {
  .Cardarea {
    max-height: 4000px;
    transition: 0.3s cubic-bezier(1, 0, 1, 0);
  }
}