.MemberInfo {
  height: calc(100vh - 50px);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  .MemberInfo-container {
    height: 95%;
    width: 100%;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    .MemberInfo-container-header {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: 2px solid $activeColor;
      width: 100%;

      & h1 {
        font-weight: 100;
      }
    }

    .MemberInfo-container-row {
      width: 100%;
      @include flex(row);
      justify-content: flex-start;
      margin-bottom: 1rem;

      .MemberInfo-container-inputCon {
        @include flex(column);
        margin-right: 1rem;
        font-size: 1.25rem;

        // 一般的input box
        .MemberInfo-container-inputCon-input {
          border-radius: 5px;
          border: 1px solid $fontColor;
          padding: 0.15rem 0.35rem;
          margin-top: 0.25rem;
          font-size: 1.35rem;
        }

        // 信用卡到期日, 安全碼的unput box
        .MemberInfo-container-inputCon-ccardInput {
          width: 200px;
        }

        // 信用卡輸入區塊
        .MemberInfo-container-inputCon-ccardCon {
          & input {
            width: 100px;
            margin-left: 0.25rem;
          }
        }
      }
    }

    .MemberInfo-container-buttonCon {
      width: 100%;
      @include flex(row);
      justify-content: flex-end;
      margin: 1rem 0;

      .MemberInfo-container-buttonCon-btn {
        padding: 0.35rem 0.75rem;
        background: $themeColor;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
