.Coursedetail-recommend {
	margin: 60px 0;
	height: 30vw;
	width: 103.5%;
	display: flex;
}
.Coursedetail-recommendLeft {
	height: 100%;
	width: 30%;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 auto auto 0;
	max-height: 570px;
	img {
		width: 100%;
		height: 100%;
	}
	span {
		width: 100%;
		background-color: RGBA(50, 50, 50, 0.5);
		display: inline-block;
		height: 220%;
		position: relative;
		top: -570px;
		z-index: 2;
		cursor: pointer;
	}
	span:hover {
		top: -1030px;
		transition: top 0.5s;
	}
	.Coursedetail-recommendMask:hover {
		cursor: pointer;
		background-color: RGBA(50, 50, 50, 0.7);
		.Coursedetail-recommendInfo {
			opacity: 1;
			transition: opacity 0.5s;
			cursor: pointer;
		}
	}
}

.Coursedetail-recommendText {
	color: #ffffff;
}
.Coursedetail-recommendTitle {
	text-align: center;
	font-size: 1.5vw;
	position: relative;
	color: white;
	padding-top: 5vw;
	// font-size: 48px;
}
.Coursedetail-recommendLine {
	width: 80%;
	border-radius: 5px;
	border: 2px solid #ffffff;
	background-color: #ffffff;
	position: relative;
	margin: auto;
}
.Coursedetail-recommendName {
	text-align: center;
	font-size: 1.5vw;
	position: relative;
	color: white;
	// font-size: 60px;
}
.Coursedetail-recommendInfo {
	text-align: left;
	font-size: 1vw;
	text-indent: 1em;
	width: 80%;
	margin: auto;
	color: white;
	padding-top: 2vw;
	opacity: 0;
	transition: opacity 0.5s;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	// font-size: 24px;
}
.Coursedetail-recommendClick {
	font-size: 1.8vw;
	width: 100%;
	text-align: center;
	text-indent: initial;
	padding-top: 5vw;
	position: absolute;
	top: 65%;
}
.Coursedetail-recommendRight {
	height: 100%;
	float: right;
	width: 45%;
	border-radius: 5px;
	border: 2px solid #666666;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
	span {
		width: 100%;
		background-color: RGBA(50, 50, 50, 0.5);
		display: inline-block;
		height: 200%;
		position: relative;
		top: -700px;
		z-index: 2;
		cursor: pointer;
	}
	span:hover {
		top: -1100px;
		transition: top 0.5s;
	}
}
.Coursedetail-recommendMask {
	position: relative;
	height: 105%;
	width: 100%;
	top: -102%;
	// background-color: RGBA(50, 50, 50, 0.5);
}
.Coursedetail-recommendFlag {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 65%, 0 100%);
	background-color: $activeColor;
	height: 6vw;
	width: 3vw;
	position: absolute;
	right: 2vw;
	p {
		font-size: 1.1vw;
		text-align: center;
		height: 100%;
		display: flex;
		top: 0.5vw;
		color: white;
	}
}
