.CourseDetail-headerPicture {
	width: 70vw;
	max-width: 1440px;
	margin: auto;
	img {
		height: 25vw;
	}
	.Course-headerPictureButton {
		background-color: RGBA(0, 0, 0, 0.5);
		width: 5%;
	}
}
.CourseDetail-headerColor {
	background-color: papayawhip;
}
